.fixed-menu {
  padding-top: 2rem;
  height: fit-content;

  display: grid;
  gap: 1rem;

  .fixed-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fixed-menu-actions {
      display: flex;
      gap: 0.5rem;
    }

    button {
      gap: 0.75rem;
    }
  }

  .meals-container {
    display: grid;
    gap: 1rem;
  }

  .no-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
