.goal-banner {
  display: grid;
  grid-template-columns: 1fr auto;


  .value-container {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .after-value {
      margin-inline-start: 0.2rem;
      font-size: 0.8rem;
      opacity: 0.5;

    }
  }
}
