.MuiMenu-list {
  max-height: 200px;

  li {
    gap: 1rem;
  }

  .custom-select-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.MuiInputBase-root.with-imgs {
  .MuiSelect-select {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.dark-mode {
  .MuiSelect-select {
    // outline: 1px solid $white;
    // box-shadow: 0 0 0 1px $white;
    // border: 1px solid $white;
    // box-shadow: rgba(255, 255, 255, 0.21) 1.95px 1.95px 2.6px;
  }
}

.custom-select,
.MuiInputBase-root,
.picker-select {
  &.primary {
    .MuiInputBase-colorPrimary,
    .MuiSelect-root {
      &.Mui-focused {
        fieldset {
          border-color: $primary-color !important;
        }
      }
    }
  }

  &.blue {
    .MuiInputBase-colorBlue {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-blue !important;
        }
      }
    }
  }

  &.green {
    .MuiInputBase-colorGreen {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-green !important;
        }
      }
    }
  }

  &.yellow {
    .MuiInputBase-colorYellow {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-yellow !important;
        }
      }
    }
  }
  &.red {
    .MuiInputBase-colorRed {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-red !important;
        }
      }
    }
  }
  &.orange {
    .MuiInputBase-colorOrange {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-orange !important;
        }
      }
    }
  }
  &.purple {
    .MuiInputBase-colorPurple {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-purple !important;
        }
      }
    }
  }
  &.pink {
    .MuiInputBase-colorPink {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-pink !important;
        }
      }
    }
  }
  &.deep-purple {
    .MuiInputBase-colorDeepPurple {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-deep-purple !important;
        }
      }
    }
  }
}
