.select-paper.dark-mode {
  outline: 1px solid rgba(255, 255, 255, 0.3) !important;

  &.blue {
    li {
      background-color: $darker-gray-blue !important;
    }
  }
  &.green {
    li {
      background-color: $darker-gray-green !important;
    }
  }
  &.yellow {
    li {
      background-color: $darker-gray-yellow !important;
    }
  }
  &.red {
    li {
      background-color: $darker-gray-red !important;
    }
  }
  &.orange {
    li {
      background-color: $darker-gray-orange !important;
    }
  }
  &.purple {
    li {
      background-color: $darker-gray-purple !important;
    }
  }
  &.pink {
    li {
      background-color: $darker-gray-pink !important;
    }
  }
  &.deep-purple {
    li {
      background-color: $darker-gray-deep-purple !important;
    }
  }
}
.MuiMenu-list {
  max-height: 350px;

  li {
    gap: 1rem;
  }

  .custom-select-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  .custom-select-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.MuiInputBase-root.with-imgs {
  .MuiSelect-select {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    .custom-select-icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.custom-select,
.MuiInputBase-root,
.picker-select {
  &.picker-select {
    text-align: center !important;
  }
  &.primary {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray !important;
      }
    }
    .MuiInputBase-colorPrimary,
    .MuiSelect-root {
      &.Mui-focused {
        fieldset {
          border-color: $primary-color !important;
        }
      }
    }
  }

  &.blue {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-blue !important;
      }
    }

    .MuiOutlinedInput-root {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-blue !important;
        }
      }
    }
  }

  &.green {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-green !important;
      }
    }
    .MuiOutlinedInput-root {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-green !important;
        }
      }
    }
  }

  &.yellow {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-yellow !important;
      }
    }
    .MuiOutlinedInput-root {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-yellow !important;
        }
      }
    }
  }
  &.red {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-red !important;
      }
    }
    .MuiOutlinedInput-root {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-red !important;
        }
      }
    }
  }
  &.orange {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-orange !important;
      }
    }
    .MuiOutlinedInput-root {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-orange !important;
        }
      }
    }
  }
  &.purple {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-purple !important;
      }
    }
    .MuiOutlinedInput-root {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-purple !important;
        }
      }
    }
  }
  &.pink {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-pink !important;
      }
    }

    .MuiOutlinedInput-root {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-pink !important;
        }
      }
    }
  }
  &.deep-purple {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-deep-purple !important;
      }
    }
    .MuiOutlinedInput-root {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-deep-purple !important;
        }
      }
    }
  }
}
