.MuiMenu-list {
  max-height: 350px;

  li {
    gap: 1rem;
  }

  .custom-select-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }

  .custom-select-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.MuiInputBase-root.with-imgs {
  .MuiSelect-select {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    .custom-select-icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.custom-select,
.MuiInputBase-root,
.picker-select {
  &.primary {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray !important;
      }
    }
    .MuiInputBase-colorPrimary,
    .MuiSelect-root {
      &.Mui-focused {
        fieldset {
          border-color: $primary-color !important;
        }
      }
    }
  }

  &.blue {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-blue !important;
      }
    }

    .MuiInputBase-colorBlue {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-blue !important;
        }
      }
    }
  }

  &.green {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-green !important;
      }
    }
    .MuiInputBase-colorGreen {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-green !important;
        }
      }
    }
  }

  &.yellow {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-yellow !important;
      }
    }
    .MuiInputBase-colorYellow {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-yellow !important;
        }
      }
    }
  }
  &.red {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-red !important;
      }
    }
    .MuiInputBase-colorRed {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-red !important;
        }
      }
    }
  }
  &.orange {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-orange !important;
      }
    }
    .MuiInputBase-colorOrange {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-orange !important;
        }
      }
    }
  }
  &.purple {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-purple !important;
      }
    }
    .MuiInputBase-colorPurple {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-purple !important;
        }
      }
    }
  }
  &.pink {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-pink !important;
      }
    }
    .MuiInputBase-colorPink {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-pink !important;
        }
      }
    }
  }
  &.deep-purple {
    &.dark-mode {
      .MuiFormLabel-root {
        background-color: $dark-gray-deep-purple !important;
      }
    }
    .MuiInputBase-colorDeepPurple {
      &.Mui-focused {
        fieldset {
          border-color: $picker-color-deep-purple !important;
        }
      }
    }
  }
}
