.edit-macros-container {
  display: grid;
  gap: 0.8rem;
  width: 100%;
  padding: 0 1rem;

  justify-self: center;

  .picker-container {
  }
  .add-remove-buttons-container {
    // display: flex;
    // justify-content: space-between;
    gap: 0.8rem;
    display: grid;
    // grid-auto-flow: column;
  }

  .macros-title-container {
    margin-bottom: 1em;
  }

  .save-cancel-container {
    justify-self: center;
  }

  .macros-title-container {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    padding: 0em 1em;
    // align-items: center;
    text-align: center;

    .macro-container {
      display: grid;
      gap: 0.8rem;
      justify-items: center;

      .custom-button {
        font-size: 1.2rem;
      }
    }

    .banner {
      //   width: 160px;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        // color: $white;
        font-size: 1.2em;
        font-weight: 600;
        color: $black;
      }

      &.carbs {
        background-color: $macro-carbs;
      }

      &.protein {
        background-color: $macro-protein;
      }

      &.fats {
        background-color: $macro-fats;
      }
    }
  }
}
