.macros-progress {
  display: grid;

  grid-template-rows: auto 1fr;
  gap: 1.5rem;

  .macros-container {
    // align-self: center;
    display: flex;
    gap: 1.5rem;
    place-items: center;

    .macro-container {
      display: grid;
      gap: 0.8rem;

      span {
        font-weight: 700;
      }

      .goal-banner {
        gap: 0.2rem;

        .value-container {
          p,
          span {
            font-size: 13px;
          }
        }

        svg {
          width: 1rem;
          height: 1rem;
        }
      }

      &.protein {
        .goal-banner {
          border-bottom: 3px solid $macro-protein;
        }
      }

      &.carbs {
        .goal-banner {
          border-bottom: 3px solid $macro-carbs;
        }
      }

      &.fats {
        .goal-banner {
          border-bottom: 3px solid $macro-fats;
        }
      }
    }
  }
}
