.item-search {
  display: grid;
  gap: 12px;
  align-items: start;
  // min-height: calc(100vh - $header-margin);

  &.dark-mode {
    background-color: $darker-gray !important;
    color: $white !important;
  }

  .search-item-container {
    // moved to CustomList styles
  }

  .search-container {
    position: sticky;
    top: 0;
    background: $white;
    z-index: 1;
    padding-top: 4px;
    padding: 1rem;

    display: grid;
    align-items: start;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;

    &.dark-mode {
      background: $darker-gray;
    }
  }

  &.dark-mode {
    .search-container {
      background: $darker-gray;
      border-bottom: 1px solid white;

      .MuiInputBase-root {
        // border: 1px solid $white !important;
        // outline: 1px solid $white !important;
      }

      input {
        color: $white;
      }
    }

    svg {
      color: $white;
    }
  }

  .no-results {
    padding: 0em 1rem;
    color: $dark-gray;

    &.dark-mode {
      color: $light-gray;
    }
  }

  .search-first {
    padding: 0em 1rem;
    text-align: center;
  }
}

.item-search .results {
  overflow: auto;
}

.item-search .loading,
.item-search .empty {
  display: grid;
  place-items: center;
  height: 60vh;
}

// moved to CustomList styles
