.item-search {
  display: grid;
  gap: 12px;
  align-items: start;

  &.dark-mode {
    background-color: $darker-gray !important;
    color: $white !important;
  }

  .search-header {
    padding: 0em 1rem;

    &:nth-of-type(2) {
      margin-top: 1rem;
    }
  }

  .no-results {
    padding: 0em 1rem;
    color: $dark-gray;

    &.dark-mode {
      color: $light-gray;
    }
  }

  .search-first {
    padding: 0em 1rem;
    text-align: center;
  }
}

.item-search .results {
  overflow: auto;
  // touch-action: pan-y;
  // height: 520px;
}

.item-search .loading,
.item-search .empty {
  display: grid;
  place-items: center;
  height: 60vh;
}

// moved to CustomList styles
