.muscle-group-card-container {
  position: relative;
  width: 300px;
  border-radius: 6px;

  h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: start;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 3;
    margin-bottom: 0px;
    color: $white;
    padding: 0.5rem 1rem;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 3px;

    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0) 90%
    );
    z-index: 2;
  }
}

.muscle-container {
  position: relative;
  //   height: auto;

  .base-img {
    display: block;
    width: 100%;
  }

  .muscle-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* same size as base image */
    pointer-events: none;
  }

  .base-img,
  .muscle-overlay {
    width: 100%;
    object-fit: contain;
    display: block;
  }

  .muscle-overlay {
    padding: 5%;
  }
  &.back {
    .muscle-overlay {
      padding: 8%;
    }
  }

  &.upper-body {
    .base-img,
    .muscle-overlay {
    }
  }

  &.middle {
    .base-img,
    .muscle-overlay {
      transform: translateY(-50%);
    }
  }

  &.lower-body {
    .base-img,
    .muscle-overlay {
      transform: translateY(-60%);
    }
  }

  &.triceps,
  &.biceps,
  &.back {
    .base-img,
    .muscle-overlay {
      transform: translateY(-5%);
    }
    .muscle-overlay {
      padding: 7%;
    }
  }
  &.quads {
    .base-img,
    .muscle-overlay {
      transform: translateY(-40%);
    }
  }
  &.glutes {
    .base-img,
    .muscle-overlay {
      transform: translateY(-35%);
    }
    .muscle-overlay {
      padding: 8%;
      transform: translateY(-32%);
    }
  }
  &.hamstrings {
    .base-img,
    .muscle-overlay {
      transform: translateY(-45%);
    }
  }
  &.calves {
    .base-img,
    .muscle-overlay {
      transform: translateY(-65%);
    }
    .muscle-overlay {
      padding: 10%;
      transform: translateY(-55%);
    }
  }

  &.abs {
    .base-img,
    .muscle-overlay {
      transform: translateY(-20%);
    }
  }
}
