.exercise-details-container {
  display: grid;
  gap: 1rem;
  padding: 1rem 1rem 2rem 1rem;

  &.dashboard {
    grid-template-columns: auto 1fr;
    padding: 2rem;
    gap: 2rem 4rem;
    max-width: $max-width;
    margin: 0 auto;

    img{
      grid-column: 1/2;
      grid-row: 1/1;
      width: 20vw;
      height: calc(20vw);
      object-fit: cover;

      max-width: 300px;
      max-height: 300px;

    }
    .line-chart-container{
      grid-column: 2/3;
      grid-row: 1/1;
    }


    .divider, .sets-table, .new, .past-sessions, .instructions-accordion{
      grid-column: 1/-1;
    }
    .past-sessions{

      grid-row: 2/3;
    }
    .sets-table,.new{
      grid-row: 3/4;
    }

  }

  &.dark-mode {
    // background-color: $dark-gray !important;
  }

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    justify-self: center;
  }
  .chart-header-container {
    display: grid;
    grid-template-columns: 1fr auto;

    align-items: center;
  }

  .notes-container {
    &.english-notes {
      text-align: left;
      direction: ltr;
    }
    &.hebrew-notes {
      text-align: right;
      direction: rtl;
    }
  }

  .exercise-details {
    display: grid;
    gap: 1rem;
    overflow-y: auto;
  }

  .line-chart-container {
    display: grid;
    gap: 1rem;
  }

  .sets-table {
    margin-top: 0rem;
  }

  .MuiBadge-root {
    // position: absolute;
    &.new {
      right: 2rem;
      top: 2rem;
      span {
        font-weight: 700;
      }
    }
  }
}
