.trainee-user-card-container {
  position: fixed;

  //   top: calc($header-height + 1.5rem);
  //   left: 200px;
  bottom: 100px;

  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: $white;
  z-index: 1000;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 1rem;
  // border-bottom-right-radius: 1rem;

  transition: transform 0.3s ease-in-out;

  border-top: 1px solid $dark-gray;
  border-right: 1px solid $dark-gray;

  &.hidden {
    transform: translateX(calc(-100% + 60px));
  }

  &.dark-mode {
    background-color: $darker-gray;
    color: $white;
    border-color: $white;

    &.blue {
      background-color: $darker-gray-blue;
    }
    &.red {
      background-color: $darker-gray-red;
    }
    &.yellow {
      background-color: $darker-gray-yellow;
    }
    &.green {
      background-color: $darker-gray-green;
    }
    &.orange {
      background-color: $darker-gray-orange;
    }
    &.deepPurple {
      background-color: $darker-gray-deep-purple;
    }
    &.purple {
      background-color: $darker-gray-purple;
    }
    &.pink {
      background-color: $darker-gray-pink;
    }
  }

  .trainee-details {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
}
