.trainee-user-card-container {
  position: fixed;

  //   top: calc($header-height + 1.5rem);
  //   left: 200px;
  bottom: 100px;

  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: $white;
  z-index: 1000;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 1rem;
  // border-bottom-right-radius: 1rem;

  transition: transform 0.3s ease-in-out;

  border-top: 1px solid $dark-gray;
  border-right: 1px solid $dark-gray;

  &.hidden {
    transform: translateX(calc(-100% + 60px));
  }

  &.dark-mode {
    background-color: $darker-gray;
    color: $white;
    border-color: $white;
  }

  .trainee-details {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }
}
