.steps-goal-card-container {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .steps-goal-caption {
    opacity: 0.65;
    line-height: 1.4;
  }

  .picker-select {
    margin: 0 auto;
    width: 120px;
  }
}
