// Header component styles
.tabs-container {
  button {
    padding-inline: 1em;
  }
  background-color: $primary-color-dark !important;

  &.blue {
    background-color: $picker-color-blue-dark !important;
  }
  &.yellow {
    background-color: $picker-color-yellow-dark !important;
  }
  &.red {
    background-color: $picker-color-red-dark !important;
  }
  &.orange {
    background-color: $picker-color-orange-dark !important;
  }
  &.green {
    background-color: $picker-color-green-dark !important;
  }
  &.deepPurple {
    background-color: $picker-color-deep-purple-dark !important;
  }
  &.purple {
    background-color: $picker-color-purple-dark !important;
  }
  &.pink {
    background-color: $picker-color-pink-dark !important;
  }
  &.dark-mode {
    button {
      background-color: transparent !important;
      //   margin-inline: 0px;
    }
    .MuiTabs-indicator {
      background-color: $primary-color !important;
      //   padding-inline: 1em !important;
    }

    &.blue {
      .MuiTabs-indicator {
        background-color: $picker-color-blue !important;
      }
    }

    &.green {
      .MuiTabs-indicator {
        background-color: $picker-color-green !important;
      }
    }

    &.yellow {
      .MuiTabs-indicator {
        background-color: $picker-color-yellow !important;
      }
    }
    &.red {
      .MuiTabs-indicator {
        background-color: $picker-color-red !important;
      }
    }

    &.orange {
      .MuiTabs-indicator {
        background-color: $picker-color-orange !important;
      }
    }

    &.deepPurple {
      .MuiTabs-indicator {
        background-color: $picker-color-deep-purple !important;
      }
    }
    &.purple {
      .MuiTabs-indicator {
        background-color: $picker-color-purple !important;
      }
    }

    &.pink {
      .MuiTabs-indicator {
        background-color: $picker-color-pink !important;
      }
    }
  }
}
