.trainees-tabs-container {
  display: flex;
  // align-items: center;
  // justify-content: center;
  // gap: 0.5rem;
  .divider {
    margin: 0.5rem 0;
  }
}

.trainee-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.3s ease;
  background-color: transparent;
  cursor: pointer;

  &.dark-mode {
    opacity: 0.6;
  }

  &:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &.dragging {
    // opacity: 0.5;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
