.diary {
  .label-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .circular-progress {
    width: 100px;
    height: 100px;
  }

  .macros-accordion-container {
    // margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 0;
    background-color: $neutral-gray;
    // border-radius: 5px;

    .linear-progress-container {
      padding: 0;
    }
  }

  &.dark-mode {
    .macros-accordion-container {
      background-color: $dark-gray;
      // border-bottom: 1px solid $dark-mode-border;
    }
  }
}
