.diary {
  .label-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .circular-progress {
    width: 100px;
    height: 100px;
  }

  .macros-accordion-container {
    // margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 0;
    background-color: $neutral-gray;
    border-radius: 5px;

    .linear-progress-container {
      padding: 0;
    }
  }

  &.dark-mode {
    .macros-accordion-container {
      background-color: $dark-gray;
      border-radius: 5px;
      // border-bottom: 1px solid $dark-mode-border;
    }
  }

  .meals-container {
    display: grid;
    gap: 1rem;
    .diary-meal-container {
      display: grid;

      background-color: $white;
      padding: 1rem;
      border-radius: 3px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

      &.dark-mode {
        background-color: $darker-gray;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }

      .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // gap: 16px;
        text-align: start;
        align-items: center;

        .period {
          text-align: end;
        }
      }

      .meal-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total-calories {
          // font-weight: 600;
        }
      }
    }
  }
}
