.barcode-scanner-container {
  display: grid;
  gap: 1.5em;
  padding: 1em;
}

.barcode-scanner {
  position: relative;
  width: 100%;
  height: 100%;
  // background: #000;
  border-radius: 12px;
  overflow: hidden;

  .preview {
    width: 100%;
    height: 100%;
    width: 360px;
    height: 270px;

    object-fit: cover;
    display: block;
    border-radius: 12px;
  }

  .animation-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // top: 1em;
    // bottom: 1em;
    // left: 1em;
    // right: 1em;
    img {
      border-radius: 12px;
      width: 100%;
      height: 100%;
    }
  }

  // optional: simple overlay box to indicate scanning area
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 40%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    pointer-events: none;
  }
}

.searching-animation-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
