.exercise-card-container {
  display: grid;
    position: relative;
  &.dashboard {
    @media (min-width: 1050px) {
      grid-template-columns: auto 1fr;
    }
    @media (max-width: 1050px) {
      grid-template-columns: 1fr;
    }
    .exercise-card-content{
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      img{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 20vw;
        height: calc(20vw);
        max-width: 300px;
        max-height: 300px;
        // align-self: start;
        
        
      }
      .exercise-card-info{
        align-self: start;
         grid-column: 1/-1;
         grid-row: 2/3;
        max-width: 300px;

        .exercise-card-name, .exercise-card-muscle-groups, .exercise-card-equipment {
          white-space: normal;
          overflow-wrap: break-word;
          word-break: break-word;
        }


      }
    }

  }

  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
  gap: 1rem;
  text-align: start;
  transition: all 0.3s ease-in-out;
  grid-template-rows: 1fr;
  overflow: hidden;
  &.dark-mode {
    color: $white;
  }

  &.done {
    // opacity: 0.8;
    padding-left: 0.7rem;
    border-left: 0.3rem solid $success-color;
  }

  &.closed {
    gap: 0;
  }

  .exercise-card-content {
    display: grid;
    grid-template-columns: auto 1fr 60px;
    gap: 1rem;
    align-items: start;
    .more-options-container {
      grid-column: 3/4;
      justify-self: end;
    }
  }
  .exercise-card-actions {
    // display: grid;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    // gap: 0.5rem;
    grid-template-columns: 1fr;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
  }

  .exercise-card-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .exercise-card-info {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    gap: 0.5rem;
    min-width: 0; // Allows text truncation
  }

  .exercise-card-name {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .exercise-card-muscle-groups {
    color: $medium-gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .exercise-card-equipment {
    color: $medium-gray;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .exercise-card-actions {
    display: flex;
    // gap: 0.5rem;
    justify-content: flex-end;
    // margin-top: 0.5rem;
  }

  &.dark-mode {
    .exercise-card-muscle-groups,
    .exercise-card-equipment {
      color: $light-gray;
    }
  }
}
