.options-menu {
  &.dark-mode {
    ul {
      color: $white;
    }

    .option-menu-item {
      svg {
        fill: $white;
      }
    }
  }

  // height: 300px;
  .option-menu-item {
    // border: 1px solid $white;
    display: flex;
    align-items: center;

    justify-content: space-between;
    gap: 1em;

    .option-menu-item-icon {
      display: flex;
    }
  }
}

.options-menu-paper {
  &.dark-mode {
    outline: 1px solid rgba(255, 255, 255, 0.3) !important;

    &.blue {
      li {
        background-color: $darker-gray-blue !important;
      }
    }
    &.green {
      li {
        background-color: $darker-gray-green !important;
      }
    }
    &.yellow {
      li {
        background-color: $darker-gray-yellow !important;
      }
    }
    &.red {
      li {
        background-color: $darker-gray-red !important;
      }
    }
    &.orange {
      li {
        background-color: $darker-gray-orange !important;
      }
    }
    &.purple {
      li {
        background-color: $darker-gray-purple !important;
      }
    }
    &.pink {
      li {
        background-color: $darker-gray-pink !important;
      }
    }
    &.deep-purple {
      li {
        background-color: $darker-gray-deep-purple !important;
      }
    }
  }
}
