.options-menu {
  &.dark-mode {
    ul {
      color: $white;
    }

    .option-menu-item {
      svg {
        fill: $white;
      }
    }
  }

  // height: 300px;
  .option-menu-item {
    // border: 1px solid $white;
    display: flex;
    align-items: center;

    justify-content: space-between;
    gap: 1em;

    .option-menu-item-icon {
      display: flex;
    }
  }
}
