.item-search {
  .search-container {
    position: sticky;
    top: 0;
    background: $white;
    z-index: 1;
    padding-top: 4px;
    padding: 1rem;

    display: grid;
    align-items: start;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr auto;
    gap: 1rem;

    .item-filter-select {
      .MuiSelect-select {
        text-align: start !important;
      }
    }
    .input-container {
      grid-column: 1/-1;
    }

    .custom-button-wrapper {
      grid-column: 2/3;
      align-self: center;
    }
  }

  &.dark-mode {
    .search-container {
      background: $darker-gray;
      border-bottom: 1px solid white;

      .MuiInputBase-root {
        // border: 1px solid $white !important;
        // outline: 1px solid $white !important;
      }

      input {
        color: $white;
      }
    }

    svg {
      color: $white;
    }
  }

  .search-container.dark-mode {
    background: $darker-gray;

    .custom-select {
      .MuiFormLabel-root {
        background-color: $darker-gray !important;
      }

      &.blue {
        .MuiFormLabel-root {
          background-color: $darker-gray-blue !important;
        }
      }

      &.green {
        .MuiFormLabel-root {
          background-color: $darker-gray-green !important;
        }
      }

      &.yellow {
        .MuiFormLabel-root {
          background-color: $darker-gray-yellow !important;
        }
      }

      &.red {
        .MuiFormLabel-root {
          background-color: $darker-gray-red !important;
        }
      }
      &.orange {
        .MuiFormLabel-root {
          background-color: $darker-gray-orange !important;
        }
      }
      &.purple {
        .MuiFormLabel-root {
          background-color: $darker-gray-purple !important;
        }
      }
      &.pink {
        .MuiFormLabel-root {
          background-color: $darker-gray-pink !important;
        }
      }
      &.deep-purple {
        .MuiFormLabel-root {
          background-color: $darker-gray-deep-purple !important;
        }
      }
    }
  }
}
