.curr-meal {
  display: grid;
  grid-template-rows: auto 1fr;
  // align-items: start;

  gap: 12px;
  .custom-list {
    overflow: auto;
  }

  .label-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.curr-meal .header {
  display: flex;
  align-items: baseline;
  align-items: center;
  justify-content: space-between;
}

.curr-meal .header .period {
  opacity: 0.7;
}

.curr-meal .logged-items {
  min-height: 80px;
  display: grid;
  place-items: center;
  color: $medium-gray;
}

.dark-mode .curr-meal .logged-items {
  color: $light-gray;
}
