.card {
  .edit-button {
    position: absolute;
    top: 0.8rem;
    inset-inline-end: 0.8rem;
    padding: 0.5rem;

    button {
      border: none;
      outline: none;
      svg {
        width: 1.5em;
        height: 1.5em;

        @media (min-width: 1080px) {
          width: 1em;
          height: 1em;
        }
      }
    }
  }
}
