.sets-table {
  max-width: 100%;
  overflow-x: auto;
  margin-top: 1rem;

  .MuiTableBody-root {
    border-bottom: none !important;
  }

  &.dark-mode {
    background-color: $dark-gray;
    color: $white;

    .MuiTableRow-root {
      th {
        color: $white !important;
        font-weight: 700;
        // border-bottom: 1px solid $darker-gray !important;
        border-color: $darker-gray !important;
      }
    }

    tr {
    
      td {
        color: $white !important;
        // border-bottom: 1px solid $darker-gray !important;
        border-color: $darker-gray !important;
      }
    }
  }
  // Ensure nested table columns align with main table columns
  .MuiCollapse-root {
    .MuiTable-root {
      width: 100%;
      
      // Match the column widths of the main table
      .MuiTableCell-root {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
}
