.profile-container {
  display: grid;
  grid-template-columns: 120px 1fr 30px;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  height: fit-content;

  .profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }

  .profile-info {
    align-self: center;
    justify-self: start;
    max-width: 100%;
    overflow: hidden;
  }
}

.modal-profile-picture-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding: 1rem;

  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
}
