.custom-accordion {
  width: 100%;

  .accordion-icon {
    margin-inline-end: 0.8rem;
  }

  &.dark-mode {
    .MuiAccordion-root {
      // Default fallback
      background-color: $darker-gray !important;

      // Color-specific accordion backgrounds (applied directly on Accordion)
      &.blue {
        background-color: $darker-gray-blue !important;
      }
      &.yellow {
        background-color: $darker-gray-yellow !important;
      }
      &.red {
        background-color: $darker-gray-red !important;
      }
      &.orange {
        background-color: $darker-gray-orange !important;
      }
      &.green {
        background-color: $darker-gray-green !important;
      }
      &.deepPurple {
        background-color: $darker-gray-deep-purple !important;
      }
      &.purple {
        background-color: $darker-gray-purple !important;
      }
      &.pink {
        background-color: $darker-gray-pink !important;
      }
    }

    .MuiPaper-root.dark-mode {
      // Inherit from accordion
      background-color: inherit;
      .MuiAccordion-heading {
        button {
          background-color: inherit;

          color: $light-gray;

          .MuiAccordionSummary-expandIconWrapper {
            color: $light-gray;
          }
        }
      }
    }

    .MuiCollapse-root {
      background-color: inherit;
      color: $light-gray;
    }
  }
}

.accordion-content {
  width: 100%;
}
