.custom-accordion {
  width: 100%;

  .accordion-icon {
    margin-right: 0.8rem;
  }

  &.dark-mode {
    .MuiPaper-root.dark-mode {
      background-color: $darker-gray;
      .MuiAccordion-heading {
        button {
          background-color: $darker-gray;

          color: $light-gray;

          .MuiAccordionSummary-expandIconWrapper {
            color: $light-gray;
          }
        }
      }
    }

    .MuiCollapse-root {
      background-color: $very-dark-gray;
      background-color: $darker-gray;
      //   background-color: $primary-color-darker;
      color: $light-gray;
    }
  }
}

.accordion-content {
  width: 100%;
}
