.trainer-exercises-container {
  padding: 0rem;
  
  .exercise-list{
    overflow-y: auto;
    height: calc(100vh - $dashboard-header-height - 300px - 1rem);
    overflow-y: auto;
    // height: 100%;
  }
}