* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  // max-width: 1024px;
  // margin: 0 auto;
  // position: static;
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  *:not(input, textarea) {
    user-select: none;
    -webkit-user-select: none;
  }

  &,
  main,
  .page-container {
    // Hide scrollbar
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* Internet Explorer and Edge */
    &::-webkit-scrollbar {
      display: none !important; /* Chrome, Safari */
      width: 0 !important;
      height: 0 !important;
      background-color: transparent !important;
      z-index: -10;
    }
  }

  &:has(.MuiDialog-root),
  &:has(.MuiDialog-container) {
    .page-container,
    .main {
      overflow: hidden !important;
    }
  }

  main {
    overflow-y: hidden !important;
  }

  width: 100%;
  height: 100%;
  // min-height: 100vh;
  // min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden !important;

  // background-color: $neutral-gray;

  background-color: $light-gray !important;
  color: $dark-gray;

  transition: color 0.3s, background-color 0.3s;
  &:not(.dark-mode) {
    .MuiIconButton-root:not(.primary):not(.blue):not(.red):not(.yellow):not(
        .green
      ):not(.orange):not(.deepPurple):not(.purple):not(.pink) {
      color: $dark-gray;
    }
  }

  &.dark-mode {
    // background-color: $dark-gray;
    background-color: $primary-color-darker !important;
    color: $neutral-gray;
  }

  // font-family: regularAssistant;
  // transition: color 0.3s, background-color 0.3s;

  &.primary {
    .MuiPickersDay-root.Mui-selected,
    .css-r75yrr-MuiButtonBase-root-MuiButton-root,
    .swiper-pagination-bullet-active {
      background-color: $primary-color !important;
      color: $white;
    }

    .MuiDayCalendar-weekDayLabel,
    .MuiPickersToolbar-title {
      color: $primary-color !important;
    }
  }
  &.blue {
    .MuiPickersDay-root.Mui-selected,
    .css-r75yrr-MuiButtonBase-root-MuiButton-root,
    .swiper-pagination-bullet-active {
      background-color: $picker-color-blue !important;
      color: $white;
    }

    .MuiDayCalendar-weekDayLabel,
    .MuiPickersToolbar-title {
      color: $picker-color-blue !important;
    }
  }
  &.red {
    .MuiPickersDay-root.Mui-selected,
    .css-r75yrr-MuiButtonBase-root-MuiButton-root,
    .swiper-pagination-bullet-active {
      background-color: $picker-color-red !important;
      color: $white;
    }

    .MuiDayCalendar-weekDayLabel,
    .MuiPickersToolbar-title {
      color: $picker-color-red !important;
    }
  }
  &.yellow {
    .MuiPickersDay-root.Mui-selected,
    .css-r75yrr-MuiButtonBase-root-MuiButton-root,
    .swiper-pagination-bullet-active {
      background-color: $picker-color-yellow !important;
      color: $white;
    }

    .MuiDayCalendar-weekDayLabel,
    .MuiPickersToolbar-title {
      color: $picker-color-yellow !important;
    }
  }
  &.green {
    .MuiPickersDay-root.Mui-selected,
    .css-r75yrr-MuiButtonBase-root-MuiButton-root,
    .swiper-pagination-bullet-active {
      background-color: $picker-color-green !important;
      color: $white;
    }

    .MuiDayCalendar-weekDayLabel,
    .MuiPickersToolbar-title {
      color: $picker-color-green !important;
    }
  }
  &.orange {
    .MuiPickersDay-root.Mui-selected,
    .css-r75yrr-MuiButtonBase-root-MuiButton-root,
    .swiper-pagination-bullet-active {
      background-color: $picker-color-orange !important;
      color: $white;
    }

    .MuiDayCalendar-weekDayLabel,
    .MuiPickersToolbar-title {
      color: $picker-color-orange !important;
    }
  }
  &.deepPurple {
    .MuiPickersDay-root.Mui-selected,
    .css-r75yrr-MuiButtonBase-root-MuiButton-root,
    .swiper-pagination-bullet-active {
      background-color: $picker-color-deep-purple !important;
      color: $white;
    }

    .MuiDayCalendar-weekDayLabel,
    .MuiPickersToolbar-title {
      color: $picker-color-deep-purple !important;
    }
  }
  &.purple {
    .MuiPickersDay-root.Mui-selected,
    .css-r75yrr-MuiButtonBase-root-MuiButton-root,
    .swiper-pagination-bullet-active {
      background-color: $picker-color-purple !important;
      color: $white;
    }

    .MuiDayCalendar-weekDayLabel,
    .MuiPickersToolbar-title {
      color: $picker-color-purple !important;
    }
  }
  &.pink {
    .MuiPickersDay-root.Mui-selected,
    .css-r75yrr-MuiButtonBase-root-MuiButton-root,
    .swiper-pagination-bullet-active {
      background-color: $picker-color-pink !important;
      color: $white;
    }

    .MuiDayCalendar-weekDayLabel,
    .MuiPickersToolbar-title {
      color: $picker-color-pink !important;
    }
  }
}

.main {
  min-height: 100vh;
  height: calc(100vh - 100px - $header-margin);

  margin-top: $header-margin;
  // margin-bottom: 100px !important;

  padding: 0 1em;
  &.no-user {
    padding: 0;

    div:first-child:not(:has(div:has(.screen-loader))) {
      height: 100%;
    }
  }
  padding-bottom: 1.5em;
  overflow-x: hidden;

  background-color: $neutral-gray;
  color: $dark-gray;
  transition: color 0.3s, background-color 0.3s;
  &.dark-mode {
    background-color: $dark-gray;
    color: $neutral-gray;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

input {
  max-width: 100%;
}

canvas {
  display: block !important; /* Ensures the canvas is displayed */
  margin: 0 auto; /* Centers the canvas if needed */
  z-index: 20;
  opacity: 1;
}

p {
  // text-align: justify;
}

.dark-mode {
  button:not(.MuiIconButton-root) {
    // background-color: $dark-gray;
  }

  button:not(.favorite-button) {
    color: $white;

    &.Mui-disabled {
      color: $medium-gray;
    }
  }

  outline: none;
  border: none;
  box-shadow: none;

  outline: none !important;
  box-shadow: none !important;
  &:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }

  .MuiButton-contained.login-button {
    // background-color: $dark-gray !important;

    background-image: linear-gradient(
      to bottom,
      $primary-color,
      hsla(0, 0%, 0%, 0.92)
    );
    outline: none !important;
    border: none !important;
    box-shadow: none;
  }
}

.no-scroll {
  // Hide scrollbar
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer and Edge */
  &::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari */
    width: 0 !important;
    height: 0 !important;
    background-color: transparent !important;
    z-index: -10;
  }
}
