a {
  &:hover {
    text-decoration: none;
  }
}

button {
  // border: 0;
  // background-color: $clr1;
  // color: whitesmoke;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

* {
  @include fluid-font(14, 19);
}

.page-container {
  // padding: 1rem 0rem;
  height: calc(100vh - $header-margin - 120px);
  overflow-y: auto;
}

.card {
  height: $card-height;
  padding: 0.8rem 1rem;
  position: relative;

  h6 {
    grid-column: 1 / -1;
    grid-row: 1;
    justify-self: start;
  }

  background-color: $white;

  &.dark-mode {
    background-color: $darker-gray;
    color: $white;
  }
}

.banner {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--macro-bg, rgba(0, 0, 0, 0.05));
  // width: 100%;

  .label {
    font-size: 0.8rem;

    padding: 2px 4px;
    border-radius: 6px;
  }
}

.dark-mode .banner {
  --macro-bg: rgba(255, 255, 255, 0.08);

  .label {
    color: #000;
  }
}
.MuiListItemText-root,
.MuiListItemButton-root {
  &.dark-mode {
    .MuiListItemText-secondary {
      // color: $dark-gray;
      opacity: 0.8;
      color: $white;
    }
  }
}

.MuiFormControl-root {
  label {
    font-size: 0.9rem;
  }
}

.dark-mode {
  .MuiFormControl-root {
    label {
      color: $white;
      opacity: 0.8;
    }

    outline: 1px solid $white;
    border-radius: 3px;
    &:has(.Mui-focused) {
      outline: none !important;
      border: none;
      box-shadow: none;
    }

    .Mui-focused {
      outline: none;
      border: none;
      box-shadow: none;
    }

    .MuiSvgIcon-root {
      color: $white;
    }

    .MuiInputBase-input {
      color: $white;
    }
  }
}

.MuiPaper-root:has(.MuiMenu-list).dark-mode {
  color: $white;
  background-color: $dark-gray !important;

  .MuiMenu-list {
    color: $white;
    background-color: $dark-gray !important;
  }
}

.swipeable-right-action {
  // width: 100px; /* or any size you want */
  display: flex;
  // background-color: #e53935; /* match destructive look */
  // color: white;
}

.swipeable-right-action {
  width: 80px;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  // align-items: center;
  // justify-content: center;

  &.delete {
    background-color: $medium-red;
    color: $white;
  }

  .delete-icon-button {
    // width: 40px;
    // height: 40px;

    svg {
    }
  }
}

.divider {
  &.dark-mode {
    border-color: $white;
  }
}

// Remove focus outline from buttons
.MuiButtonBase-root:focus,
.MuiButtonBase-root:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.dark-mode {
  .css-1v4ozrc-MuiButtonBase-root-MuiCheckbox-root {
    color: $white !important;
  }
}

.MuiCheckbox-root {
  background-color: transparent;
  &.Mui-checked:not(.MuiCheckbox-root) {
    background-color: $primary-color !important;
  }

  &.Mui-checked.MuiCheckbox-root {
    &.primary {
      svg {
        fill: $primary-color !important;
      }
    }
    &.blue {
      svg {
        fill: $picker-color-blue !important;
      }
    }

    &.red {
      svg {
        fill: $picker-color-red !important;
      }
    }

    &.green {
      svg {
        fill: $picker-color-green !important;
      }
    }

    &.orange {
      svg {
        fill: $picker-color-orange !important;
      }
    }

    &.deepPurple {
      svg {
        fill: $picker-color-deep-purple !important;
      }
    }

    &.purple {
      svg {
        fill: $picker-color-purple !important;
      }
    }

    &.yellow {
      svg {
        fill: $picker-color-yellow !important;
      }
    }

    &.pink {
      svg {
        fill: $picker-color-pink !important;
      }
    }
  }
}

.MuiToolbar-root {
  background-color: $primary-color;
}

input,
textarea,
select {
  font-size: 16px; /* prevents zoom on iOS */
}

.search-item-container.skeleton {
  height: auto;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 50px 1fr 40px;
  grid-template-rows: repeat(2, 20px);
  gap: 1em;

  .MuiSkeleton-root {
    height: 20px;
  }
}

.MuiFormControl-root {
  border: none !important;
  outline: none !important;
}

.stepper {
  &.dark-mode {
    .MuiStepLabel-label {
      color: $white;

      &.Mui-active {
        // color: $primary-color;
      }
    }
  }

  .MuiStepLabel-iconContainer {
  }
  &.primary {
    .Mui-active {
      svg {
        fill: $primary-color !important;
        color: $white;
      }
    }
    .Mui-completed {
      svg {
        fill: $primary-color-dark;
      }
    }
  }

  &.blue {
    .Mui-active {
      svg {
        fill: $picker-color-blue !important;
        color: $white;
      }
    }
    .Mui-completed {
      svg {
        fill: $picker-color-blue-dark;
      }
    }
  }

  &.red {
    .Mui-active {
      svg {
        fill: $picker-color-red !important;
        color: $white;
      }
    }
    .Mui-completed {
      svg {
        fill: $picker-color-red-dark;
      }
    }
  }

  &.yellow {
    .Mui-active {
      svg {
        fill: $picker-color-yellow !important;
        color: $dark-gray;
      }
    }

    .Mui-completed {
      svg {
        fill: $picker-color-yellow-dark;
      }
    }

    svg {
      color: $dark-gray;
    }
  }

  &.green {
    .Mui-active {
      svg {
        fill: $picker-color-green !important;
        color: $dark-gray;
      }
    }
    .Mui-completed {
      svg {
        fill: $picker-color-green-dark;
      }
    }
  }
  &.orange {
    .Mui-active {
      svg {
        fill: $picker-color-orange !important;
        color: $white;
      }
    }
    .Mui-completed {
      svg {
        fill: $picker-color-orange-dark;
      }
    }
  }

  &.deepPurple {
    .Mui-active {
      svg {
        fill: $picker-color-deep-purple !important;
        color: $white;
      }
    }
    .Mui-completed {
      svg {
        fill: $picker-color-deep-purple-dark;
      }
    }
  }
  &.purple {
    .Mui-active {
      svg {
        fill: $picker-color-purple !important;
        color: $white;
      }
    }
    .Mui-completed {
      svg {
        fill: $picker-color-purple-dark;
      }
    }
  }
  &.pink {
    .Mui-active {
      svg {
        fill: $picker-color-pink !important;
        color: $white;
      }
    }
    .Mui-completed {
      svg {
        fill: $picker-color-pink-dark;
      }
    }
  }
}

// Button setup

.MuiButtonBase-root:not(.MuiIconButton-root):not(
    .MuiBottomNavigationAction-root
  ):not(.MuiAccordionSummary-root):not(.MuiListItemButton-root):not(
    .MuiToggleButtonGroup-grouped
  ):not(.MuiCheckbox-root):not(.MuiMenuItem-root):not(.color-button):not(
    .MuiFab-circular
  ):not(.MuiPickersDay-root):not(.delete-account-button),
.MuiToolbar-gutters,
.MuiToolbar-root,
.MuiFab-root,
.MuiPickersDay-root.Mui-selected,
.custom-date-picker-button {
  background-color: $primary-color;
  color: $white;

  &.primary {
    background-color: $primary-color !important;
    color: $white;

    &.disabled {
      background-color: $primary-color-dark !important;
    }
  }

  &.blue {
    background-color: $picker-color-blue !important;
    color: $white;

    &.disabled {
      background-color: $picker-color-blue-dark !important;
    }
  }

  &.red {
    background-color: $picker-color-red !important;
    color: $white;

    &.disabled {
      background-color: $picker-color-red-dark !important;
    }
  }

  &.yellow {
    background-color: $picker-color-yellow !important;
    color: $black;
    svg {
      color: $dark-gray;
    }

    &.disabled {
      background-color: $picker-color-yellow-dark !important;
    }
  }

  &.green {
    background-color: $picker-color-green !important;
    color: $dark-gray;

    &.disabled {
      background-color: $picker-color-green-dark !important;
    }
  }
  &.orange {
    background-color: $picker-color-orange !important;
    color: $white;

    &.disabled {
      background-color: $picker-color-orange-dark !important;
    }
  }

  &.deepPurple {
    background-color: $picker-color-deep-purple !important;
    color: $white;

    &.disabled {
      background-color: $picker-color-deep-purple-dark !important;
    }
  }
  &.purple {
    background-color: $picker-color-purple !important;
    color: $white;

    &.disabled {
      background-color: $picker-color-purple-dark !important;
    }
  }
  &.pink {
    background-color: $picker-color-pink !important;
    color: $white;

    &.disabled {
      background-color: $picker-color-pink-dark !important;
    }
  }
}

// Bottom Navigation setup

.MuiBottomNavigationAction-root.Mui-selected,
.MuiTypography-h3 {
  &.blue {
    color: $picker-color-blue !important;

    svg {
      color: $picker-color-blue !important;
    }
  }

  &.red {
    color: $picker-color-red !important;

    svg {
      color: $picker-color-red !important;
    }
  }

  &.yellow {
    color: $picker-color-yellow !important;

    svg {
      color: $picker-color-yellow !important;
    }
  }

  &.green {
    color: $picker-color-green !important;

    svg {
      color: $picker-color-green !important;
    }
  }

  &.orange {
    color: $picker-color-orange !important;

    svg {
      color: $picker-color-orange !important;
    }
  }

  &.deepPurple {
    color: $picker-color-deep-purple !important;

    svg {
      color: $picker-color-deep-purple !important;
    }
  }

  &.purple {
    color: $picker-color-purple !important;

    svg {
      color: $picker-color-purple !important;
    }
  }

  &.pink {
    color: $picker-color-pink !important;

    svg {
      color: $picker-color-pink !important;
    }
  }
}

// Speed Dial setup

.MuiSpeedDial-root {
  &.dark-mode {
  }
  &.primary {
    .MuiFab-circular {
      background-color: $primary-color !important;
    }
  }

  &.blue {
    .MuiFab-circular {
      background-color: $picker-color-blue !important;
    }
  }
  &.red {
    .MuiFab-circular {
      background-color: $picker-color-red !important;
    }
  }
  &.yellow {
    .MuiFab-circular {
      background-color: $picker-color-yellow !important;
      color: $dark-gray !important;
    }
  }
  &.green {
    .MuiFab-circular {
      background-color: $picker-color-green !important;
      color: $dark-gray !important;
    }
  }
  &.orange {
    .MuiFab-circular {
      background-color: $picker-color-orange !important;
    }
  }
  &.deepPurple {
    .MuiFab-circular {
      background-color: $picker-color-deep-purple !important;
    }
  }
  &.purple {
    .MuiFab-circular {
      background-color: $picker-color-purple !important;
    }
  }
  &.pink {
    .MuiFab-circular {
      background-color: $picker-color-pink !important;
    }
  }
  &.blue {
    .MuiFab-circular {
      background-color: $picker-color-blue !important;
    }
  }
  &.red {
    .MuiFab-circular {
      background-color: $picker-color-red !important;
    }
  }
  &.yellow {
    .MuiFab-circular {
      background-color: $picker-color-yellow !important;
    }
  }
  &.green {
    .MuiFab-circular {
      background-color: $picker-color-green !important;
    }
  }
  &.orange {
    .MuiFab-circular {
      background-color: $picker-color-orange !important;
    }
  }
  &.deepPurple {
    .MuiFab-circular {
      background-color: $picker-color-deep-purple !important;
    }
  }
  &.purple {
    .MuiFab-circular {
      background-color: $picker-color-purple !important;
    }
  }
  &.pink {
    .MuiFab-circular {
      background-color: $picker-color-pink !important;
    }
  }
}

// Toggle Button setup

.MuiToggleButtonGroup-root.dark-mode {
  &.blue {
    .MuiToggleButton-root.Mui-selected {
      color: $picker-color-blue !important;
    }
  }

  &.red {
    .MuiToggleButton-root.Mui-selected {
      color: $picker-color-red !important;
    }
  }
  &.yellow {
    .MuiToggleButton-root.Mui-selected {
      color: $picker-color-yellow !important;
    }
  }
  &.green {
    .MuiToggleButton-root.Mui-selected {
      color: $picker-color-green !important;
    }
  }
  &.orange {
    .MuiToggleButton-root.Mui-selected {
      color: $picker-color-orange !important;
    }
  }
  &.deepPurple {
    .MuiToggleButton-root.Mui-selected {
      color: $picker-color-deep-purple !important;
    }
  }
  &.purple {
    .MuiToggleButton-root.Mui-selected {
      color: $picker-color-purple !important;
    }
  }
  &.pink {
    .MuiToggleButton-root.Mui-selected {
      color: $picker-color-pink !important;
    }
  }
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.white-outline {
  outline: 1px solid $white;
}

// Picker Container setup
.picker-container {
  h5 {
    font-weight: 400;
    opacity: 0.45;
    transform: scale(0.8);
    transition: all 160ms ease;
    position: relative;

    &.selected {
      font-weight: 700;
      opacity: 1;
      transform: scale(1);
    }
  }
}

.dark-mode {
  .MuiChip-label {
    color: $white;
  }
}

// Delete Account Button setup
.delete-account-button {
  background-color: $medium-red !important;
  color: $white !important;

  &.red {
    background-color: $dark-red !important;
  }
}

// Linear Progress setup
.MuiLinearProgress-root:not(.custom-linear-progress) {
  &.primary {
    background-color: $primary-color-light !important;

    .MuiLinearProgress-bar {
      background-color: $primary-color-dark !important;
    }
  }

  &.blue {
    background-color: $picker-color-blue-light !important;

    .MuiLinearProgress-bar {
      background-color: $picker-color-blue-dark !important;
    }
  }
  &.red {
    background-color: $picker-color-red-light !important;

    .MuiLinearProgress-bar {
      background-color: $picker-color-red-dark !important;
    }
  }
  &.yellow {
    background-color: $picker-color-yellow-light !important;

    .MuiLinearProgress-bar {
      background-color: $picker-color-yellow-dark !important;
    }
  }
  &.green {
    background-color: $picker-color-green-light !important;

    .MuiLinearProgress-bar {
      background-color: $picker-color-green-dark !important;
    }
  }
  &.orange {
    background-color: $picker-color-orange-light !important;

    .MuiLinearProgress-bar {
      background-color: $picker-color-orange-dark !important;
    }
  }
  &.deepPurple {
    background-color: $picker-color-deep-purple-light !important;

    .MuiLinearProgress-bar {
      background-color: $picker-color-deep-purple-dark !important;
    }
  }
  &.purple {
    background-color: $picker-color-purple-light !important;

    .MuiLinearProgress-bar {
      background-color: $picker-color-purple-dark !important;
    }
  }
  &.pink {
    background-color: $picker-color-pink-light !important;

    .MuiLinearProgress-bar {
      background-color: $picker-color-pink-dark !important;
    }
  }
}

// Gradient Background setup
.gradient-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before {
    content: '';
    display: block;
    position: absolute;
    // z-index: -1;
    inset: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(
      ellipse at 50% 50%,
      hsl(174, 45%, 75%),
      hsl(0, 0%, 100%)
    );
    background-repeat: no-repeat;
  }

  &.dark-mode {
    &::before {
      background-image: radial-gradient(
        at 50% 50%,
        hsla(174, 100%, 25%, 0.6),
        hsl(200, 40%, 5%)
      );
    }
  }
}

.hide-text-overflow {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-name {
  font-size: 1.8rem;
  font-weight: 800;
  color: $primary-color;

  &.dark-mode {
    color: $white;
  }
}

body.dark-mode {
  .MuiPopover-paper {
    background-color: $dark-gray;

    .Mui-selected {
      background-color: $darker-gray;
    }
  }
}

.bold-header {
  font-size: 1.2rem;
  font-weight: 600 !important;
  opacity: 0.7;
}

.MuiBadge-root {
  &.primary {
    .MuiBadge-badge {
      background-color: $primary-color;
      color: $white;
    }
  }

  &.blue {
    .MuiBadge-badge {
      background-color: $picker-color-blue;
      color: $white;
    }
  }

  &.red {
    .MuiBadge-badge {
      background-color: $picker-color-red;
      color: $white;
    }
  }

  &.yellow {
    .MuiBadge-badge {
      background-color: $picker-color-yellow;
    }
  }

  &.green {
    .MuiBadge-badge {
      background-color: $picker-color-green;
    }
  }

  &.orange {
    .MuiBadge-badge {
      background-color: $picker-color-orange;
      color: $white;
    }
  }

  &.deepPurple {
    .MuiBadge-badge {
      background-color: $picker-color-deep-purple;
      color: $white;
    }
  }

  &.purple {
    .MuiBadge-badge {
      background-color: $picker-color-purple;
      color: $white;
    }
  }

  &.pink {
    .MuiBadge-badge {
      background-color: $picker-color-pink;
      color: $white;
    }
  }
}

.MuiCircularProgress-root {
  &.primary {
    .MuiCircularProgress-circle {
      stroke: $primary-color;
    }
  }
  &.blue {
    .MuiCircularProgress-circle {
      stroke: $picker-color-blue;
    }
  }
  &.red {
    .MuiCircularProgress-circle {
      stroke: $picker-color-red;
    }
  }
  &.yellow {
    .MuiCircularProgress-circle {
      stroke: $picker-color-yellow;
    }
  }
  &.green {
    .MuiCircularProgress-circle {
      stroke: $picker-color-green;
    }
  }
  &.orange {
    .MuiCircularProgress-circle {
      stroke: $picker-color-orange;
    }
  }
  &.deepPurple {
    .MuiCircularProgress-circle {
      stroke: $picker-color-deep-purple;
    }
  }
  &.purple {
    .MuiCircularProgress-circle {
      stroke: $picker-color-purple;
    }
  }
  &.pink {
    .MuiCircularProgress-circle {
      stroke: $picker-color-pink;
    }
  }
}
