.workouts-container {
  padding-top: 1rem;
  &.skeleton {
    .MuiSkeleton-root {
      // margin-bottom: 1rem;

      margin-bottom: -25%;
    }
  }
  // padding: 1rem 0;
  text-align: start;

  .workouts-header {
    // display: flex;
    display: grid;
    gap: 0.5rem;
    // justify-content: space-between;
    // align-items: center;

    margin: 1rem 0;

    &.routines {
      // grid-template-columns: auto 1fr;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .divider {
    margin: 0.5rem 0;
  }

  .buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .actions-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
.dialog-routines-container {
  padding: 1rem;
}
.workouts-lists-container {
  display: grid;
  gap: 1rem;
  padding-top: 1rem;
  .past-controller {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 0.5rem;

    .date-picker-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      gap: 0.5rem;
    }
  }
  .divider {
    margin: 0.8rem 0;
  }

  .no-past-workouts-message {
    text-align: center;
    margin-bottom: 1rem;
    opacity: 0.7;
  }
}
