.workout-card-container {
  display: grid;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);

  width: calc(100vw - 2rem);

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.dark-mode {
    color: $white;
  }

  .start-workout-button {
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: 0.5rem !important;
  }

  .new-workout-badge {
    position: relative;
    .MuiBadge-badge {
      position: absolute;
      left: 0.5rem;
      padding: 0.5rem 1rem;
      // top: 0;
    }
  }
}
