.workout-card-container {
  display: grid;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);

  width: calc(100vw - 2rem);

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.dark-mode {
    color: $white;
  }
}
