.add-trainee-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  margin-top: 1rem;
  align-items: start;
  justify-content: space-between;
  min-height: 382px;

  .my-trainees-container {
    max-width: 500px;
  }
}

.add-trainee-dialog {
  position: relative !important;
  .MuiLinearProgress-root {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }
}

.add-trainee-dialog-content {
  position: relative;

  // .linear-loader {
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  // }
}
