.weight-change-display {
  display: flex;
  align-items: end;
  direction: ltr;
  gap: 0.25rem;
  .since-last {
    color: $dark-gray;
    &.dark-mode {
      color: $light-gray;
    }
  }

  .value {
    &.has-change {
      font-weight: 600;
      &.positive {
        color: $success-color;
      }
      &.negative {
        color: $error-color;
      }
      &.dark-mode {
        &.positive {
          color: $success-color-dark-mode;
        }
        &.negative {
          color: $error-color-dark-mode;
        }
      }
    }
  }
}
