.custom-list {
  .custom-list-item {
    gap: 1em;

    .left-content {
      position: relative;

      .item-image-container {
        position: absolute;
        top: 0.2em;
        right: -0.2em;
        bottom: 0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .donut {
      width: 50px;
      height: 50px;

      .donut-inner {
        width: 40px;
        height: 40px;

        .totals {
          display: none;
        }
      }
    }
  }
}

.item-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
