.custom-list {
  &.dark-mode {
    .MuiListItemText-secondary,
    .MuiTypography-body2 {
      // color: $dark-gray;
      opacity: 0.7;
      color: $white;
    }
  }
  .custom-list-item {
    gap: 1em;

    .left-content {
      position: relative;

      .item-image-container {
        position: absolute;
        top: 0.2em;
        right: -0.2em;
        bottom: 0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .donut {
      width: 50px;
      height: 50px;

      .donut-inner {
        width: 40px;
        height: 40px;

        .totals {
          display: none;
        }
      }
    }

    .MuiListItemText-primary {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .drag-handle {
    cursor: grab;
    padding-right: 8px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
  }

  .dragging {
    &.primary {
      border-bottom: 2px solid $primary-color;
    }

    &.blue {
      border-bottom: 2px solid $picker-color-blue;
    }

    &.red {
      border-bottom: 2px solid $picker-color-red;
    }

    &.yellow {
      border-bottom: 2px solid $picker-color-yellow;
    }

    &.green {
      border-bottom: 2px solid $picker-color-green;
    }

    &.orange {
      border-bottom: 2px solid $picker-color-orange;
    }

    &.deepPurple {
      border-bottom: 2px solid $picker-color-deep-purple;
    }

    &.purple {
      border-bottom: 2px solid $picker-color-purple;
    }

    &.pink {
      border-bottom: 2px solid $picker-color-pink;
    }
  }
}

.item-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  // object-fit: contain;

  border-radius: 50%;
}
