.weight-chart {
  // margin-top: 1rem;

  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.8rem;

  .card.weight {
    padding: 0rem 1rem;
    height: fit-content;
    padding: 1rem;

    .MuiLinearProgress-root {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .header {
    display: grid;
    align-items: center;
    justify-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
    position: relative;

    .setting-button-container {
      position: absolute;
      right: 0;
      top: 0;
      svg {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    .weight-container {
      // display: grid;
      // grid-template-columns: minmax(120px, 1fr) auto;
      display: flex;
      align-items: end;
      justify-content: center;
      gap: 0.5rem;

      .weekly-change {
        &.has-change {
          font-weight: 600;
          &.positive {
            color: $success-color;
          }
          &.negative {
            color: $error-color;
          }
          &.dark-mode {
            &.positive {
              color: $success-color-dark-mode;
            }
            &.negative {
              color: $error-color-dark-mode;
            }
          }
        }
      }

      .title {
        margin: 0;
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
          width: 2rem;
          height: 2rem;
        }

        .kg {
          font-size: 1.3rem;
          font-weight: 400;
          align-self: end;
        }
      }
      .message {
        display: flex;
        align-items: center;
        gap: 0.2rem;

        svg {
          width: 0.3rem;
          height: 0.3rem;
        }
      }
    }
  }

  .date-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .times-container {
      margin: 0;
    }
  }

  .chart-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    canvas {
      width: min(85vw, 800px) !important;
      // height: calc(min(85vw, 800px) * 0.5) !important;
      max-width: 100%;
    }
  }

  @media (min-width: 800px) {
    .chart-container {
      canvas {
        width: min(50vw, 1000px) !important;
        // height: calc(min(50vw, 1000px) * 0.5) !important;
      }
    }
  }
}
