.picker-container {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  gap: 1rem;

  padding: 0em 1em;

  // height: 100%;
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
  // overscroll-behavior-y: contain;
  // touch-action: pan-y;
  // will-change: transform;
  // transform: translateZ(0);
  // contain: content;

  .buttons-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    max-width: 100%;

    overflow-x: auto;
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
}
