.picker-container {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  gap: 1rem;

  padding: 0em 1em;

  .buttons-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    max-width: 100%;

    overflow-x: auto;
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
}
