.donut {
  align-self: center;
  --size: 160px;
  --thickness: 18px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: conic-gradient(
    var(--pColor) 0 var(--p),
    var(--cColor) var(--p) calc(var(--p) + var(--c)),
    var(--fColor) calc(var(--p) + var(--c)) 100%
  );
  display: grid;
  place-items: center;
}

.donut .donut-inner {
  width: calc(var(--size) - var(--thickness));
  height: calc(var(--size) - var(--thickness));
  border-radius: 50%;
  background: var(--donut-inner-bg, $white);

  &.dark-mode {
    background: var(--donut-inner-bg, $dark-gray);
    &.blue {
      background: var(--donut-inner-bg, $dark-gray-blue);
    }
    &.yellow {
      background: var(--donut-inner-bg, $dark-gray-yellow);
    }
    &.red {
      background: var(--donut-inner-bg, $dark-gray-red);
    }
    &.orange {
      background: var(--donut-inner-bg, $dark-gray-orange);
    }
    &.green {
      background: var(--donut-inner-bg, $dark-gray-green);
    }
    &.deepPurple {
      background: var(--donut-inner-bg, $dark-gray-deep-purple);
    }
    &.purple {
      background: var(--donut-inner-bg, $dark-gray-purple);
    }
    &.pink {
      background: var(--donut-inner-bg, $dark-gray-pink);
    }
  }

  display: grid;
  place-items: center;
}
