.workout-details-container {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  height: 100%;

  .header-container {
    display: grid;
    gap: 0.5rem;

    .name-container {
      font-weight: 600;
    }

    .muscle-groups-container {
      opacity: 0.7;
    }

    .date-container {
      opacity: 0.6;
      font-size: 0.875rem;
    }
  }

  .exercises-list {
    .custom-list-item {
      gap: 1rem;

      grid-template-columns: 50px 1fr auto;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
