.edit-meal-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;

  text-align: center;

  gap: 1rem;
  padding: 1rem;

  .edit-meal-content {
    padding: 1rem;
  }

  .placeholder {
    opacity: 0.7;
    font-size: 0.95rem;
  }

  .stage-container {
    display: grid;
    gap: 1rem;
    height: 360px;

    .card {
      margin-bottom: 1rem;
    }

    .animation-container {
      justify-self: center;
      width: 300px;
      height: 300px;
    }

    .edit-meal-list {
      overflow-y: auto;
      // height: 180px;
    }

    .edit-meal-macros-distribution {
      padding: 1rem;

      align-items: center;
      box-shadow: none;
      height: fit-content;
    }
  }

  .edit-meal-footer {
    display: grid;
    gap: 1rem;

    .buttons-container {
      display: grid;
      grid-auto-flow: column;
      gap: 1rem;
    }
  }
}
