.card.weight-card {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  position: relative;

  .date-picker-container {
    grid-column: 1;
    grid-row: 1;
    justify-self: stretch;
    height: 2.5rem;
    position: absolute;
    color: var(--accent);
    top: -0rem;
    right: 1.2rem;

    .custom-date-picker-button.MuiIconButton-root {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .weight-container {
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    gap: 0.2rem;

    .weight-text {
      margin-top: 0.5rem;
      font-size: 2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;

      .weight-text-kg {
        font-size: 1.2rem;
        font-weight: 400;
        align-self: end;
      }
    }

    .date-text {
      margin-top: 0.15rem;
      font-size: 1rem;
    }
  }

  .animation-container {
    grid-column: 1;
    grid-row: 3;
    width: 180px;
    height: 180px;
    justify-self: center;
  }

  .update-weight-button-container {
    grid-column: 1;
    grid-row: 4;
  }
}

.picker-container {
  .weight-picker {
    direction: ltr;
    width: 65%;
    justify-self: center;
  }
}
