.calories-progress {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  position: relative;

  &.dark {
    background-color: $darker-gray;
    color: $white;
  }

  h6 {
    justify-self: start;
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .goal-container {
    align-self: center;
    // display: flex;
    // align-items: center;

    // justify-content: space-between;
  }

  .circular-progress {
    align-self: center;
    width: $circular-progress-size;
    @media (max-width: 1100px) and (min-width: 800px) {

      width: calc($circular-progress-size + 100px);
    }
    // padding: 0.2rem 1rem;
    grid-column: 1 /2;
    grid-row: 2;
  }
}
