.calories-amount-container {
  display: grid;
  justify-items: center;
  gap: 1em;
  position: relative;

  .calories-amount {
    position: absolute;
    color: $primary-color;
    font-weight: 700;
    // top: 50%;
    // bottom: 0;
    // z-index: 2;
  }

  .picker-container {
    margin-top: 4em;
  }

  .buttons-container {
    display: flex;
    gap: 1em;
  }

  .circular-slider-container {
    height: 200px;
    // width: 150px;
    overflow: hidden;
    // transform: rotate(-90deg);

    svg {
      //   transform: rotate(-90deg);
      path {
      }
      //   width: 300px;
    }
  }
}

.circular-slider-container svg {
  -webkit-transform: rotate(-90deg) translateZ(0);
  transform: rotate(-90deg) translateZ(0);
  transform-origin: 50% 50%;
  transform-box: fill-box; // key for SVG in Safari
  will-change: transform;
  touch-action: none; // stop Safari gestures grabbing touches
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
