.custom-date-picker-button {
  //   background-color: $primary-color !important;
}

.custom-date-picker-popover {
  .native-date-input {
    font-size: 1rem;
    padding: 8px 12px;
  }
}

.dark-mode {
  .MuiDialog-paper {
    background-color: $darker-gray;
    color: $white;

    .MuiPickersToolbar-title,
    .MuiDayCalendar-weekDayLabel {
      color: $primary-color;
    }
  }
}
