:root {
  --primary-color: #027af2;
  --primary-color-dark: #0052a3;
  --primary-color-light: #80bfff;

  --secondary-color: #009688;
  --secondary-color-dark: #00695c;
  --secondary-color-light: #4db6ac;
  --secondary-color-background: #3a3f47;

  --macro-protein: #ef476f;
  --macro-carbs: #06d6a0;
  --macro-fats: #ffd166;

  --macro-protein-dark: #e24b6e;
  --macro-carbs-dark: #21c993;
  --macro-fats-dark: #ffcc66;
}

// Colors
$primary-color: var(--primary-color);

$primary-color-light: var(--primary-color-light);
$primary-color-dark: var(--primary-color-dark);
$primary-color-darker: #262a31;

$secondary-color: var(--secondary-color);
$secondary-color-light: var(--secondary-color-light);
$secondary-color-dark: var(--secondary-color-dark);

// Shades of Red
$light-red: #f28b82;
$medium-red: #e53935;
$dark-red: #b71c1c;

// Shades of Gray
$light-gray: #e0e0e0;
$medium-gray: #9e9e9e;

$dark-gray: #424242;
$darker-gray: #333;
$very-dark-gray: #1d1d1d;

$neutral-gray: #f5f5f5;

$white: #fff;
$black: #000;

$header-height: 68px;
$header-margin: 82.39px;

$card-height: 240px;
$circular-progress-size: 160px;

// Macro colors (SCSS variables)
$macro-protein: var(--macro-protein);
$macro-carbs: var(--macro-carbs);
$macro-fats: var(--macro-fats);

$macro-protein-dark: var(--macro-protein-dark);
$macro-carbs-dark: var(--macro-carbs-dark);
$macro-fats-dark: var(--macro-fats-dark);
