.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  padding: 0.5em;

  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;

  background-color: $light-gray;

  &.dark-mode {
    background-color: $primary-color-darker;

    svg {
      color: $white;
    }
  }
  img {
    height: $header-height;
  }

  .app-select-container {
    grid-column: 1/2;
    #header-select {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 0;
    }

    .MuiInputBase-root {
      width: 100%;
    }

    .MuiOutlinedInput-notchedOutline {
      border: none !important;
    }
  }

  button {
    outline: none;
    svg {
      font-size: 1.5em;
    }
  }
}

.app-menu-item {
  display: flex;
  align-items: center;
  gap: 0.5em;

  img {
    height: $header-height;
  }
}
