.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  padding: 0.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $light-gray;
  // background-image: linear-gradient(
  //   to bottom,
  //   hsla(180, 40%, 95%, 0.9),
  //   hsla(174, 47%, 80%, 0.9)
  // );

  &.dark-mode {
    background-color: $primary-color-darker;
    // background-image: linear-gradient(
    //   to bottom,
    //   hsla(174, 46%, 14%, 0.7),
    //   hsla(180, 40%, 6%, 0.846)
    // );
  }
  img {
    // width: 100%;
    height: $header-height;
    // object-fit: contain;
  }

  button {
    outline: none;
    svg {
      font-size: 1.5em;
    }
  }
}
