.pwa-install-container {
  display: grid;
  background-color: $white;

  align-items: center;
  gap: 1.5rem;
  padding: 2.5rem 1.3rem;

  .logo-image {
    border-radius: 12px;
  }

  .title-container {
    display: grid;
    grid-template-columns: 40px 1fr 40px;

    align-items: center;

    // gap: 0.2rem 1rem;
    h3 {
      text-align: center;
      font-size: 2rem;

      font-weight: 600;
      color: $primary-color;

      grid-column: 2/3;
    }

    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }

  h6 {
    text-align: center;
  }

  .ios-instructions-image {
    width: 80% !important;
    justify-self: center !important;
    margin: 0 auto !important;
  }

  .install-container {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1rem;

    .download-animation {
      justify-self: center;
      width: 280px;
      height: 280px;
    }
  }
}
