.session-container {
  .start-icon {
    // cursor: pointer;
    // color: $primary-color;
    font-size: 2.5rem;
  }

  .workout-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    padding-inline-start: 1rem;
  }

  .selected-workout-list {
    .custom-list-item {
      padding-right: 1.5rem;
    }
    .done-icon {
      width: 36px;
      height: 36px;
    }
  }

  .session-container-animation {
    padding-bottom: 5px;
  }
  .exercises-container {
    display: grid;

    gap: 0.5rem;
  }
}
