.session-container {
  .icon {
    // cursor: pointer;
    // color: $primary-color;

    font-size: 2rem;

    &.start {
      font-size: 2rem;
    }
  }

  .workout-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    padding-inline-start: 1rem;

    .actions-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .selected-workout-list {
    .custom-list-item {
      padding-right: 1.5rem;
    }
    .done-badge {
      width: 36px;
      height: 36px;
      .MuiBadge-badge {
        width: fit-content;
        // padding: 0;
      }
    }
  }
  .exercise-info-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .session-container-animation {
    padding-bottom: 5px;
  }
  .exercises-container {
    display: grid;

    gap: 0.5rem;
  }

  .no-results-container {
    margin-top: 1rem;
  }
}
