.fixed-bottom-navigation {
  .MuiPaper-root {
    padding: 1em !important;
  }
  padding-bottom: 1.5em !important;

  &.dark-mode {
    .MuiPaper-root,
    .MuiBottomNavigation-root,
    button {
      background-color: $very-dark-gray;
    }

    button:not(.Mui-selected),
    .MuiPaper-root {
      background-color: $very-dark-gray;
      color: $light-gray;
    }

    .MuiFab-circular {
      background-color: $primary-color !important;
      color: $white !important;
      outline: none;

      &:hover {
        background-color: $primary-color-dark;
      }
    }
  }
}

.MuiBottomNavigation-root {
  padding: 0px !important;
  font-size: 1.2em !important;

  display: grid !important;
  grid-template-columns: 1fr 1fr 20px 1fr 1fr;
  grid-template-rows: 1fr;

  justify-items: center;

  button {
    padding: 0px !important;
    transition: all 0.2s ease-in-out !important;

    &.Mui-selected {
      font-weight: 600 !important;
      color: $primary-color !important;
      svg {
        font-size: 1.5em !important;
      }

      .MuiBottomNavigationAction-label {
        font-size: 0.8rem !important;
      }

      outline: none !important;
    }
  }
}

.MuiFab-circular {
  margin-bottom: 1.5rem !important;

  svg {
    width: 30px !important;
    height: 30px !important;
  }
}

.MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
  transition: all 0.2s ease-in-out !important;
  background-color: $white;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  padding: 1rem !important;
  margin-bottom: 0.8rem !important;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  .MuiButtonBase-root {
    background-color: $primary-color !important;
    color: $white !important;
  }
}
.MuiSpeedDial-root {
  &.dark-mode {
    .MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
      background-color: $very-dark-gray;
    }
  }
}
.MuiSpeedDialAction-fab {
  padding: 1rem !important;
  width: 90px !important;
  height: 70px !important;
  border-radius: 10px !important;
  svg {
    width: 30px !important;
    height: 30px !important;
  }
  // bottom: 2em !important;
  // height: 150px !important;
  // border-radius: 100% !important;
  // background-color: $primary-color !important;
  // color: $white !important;
  // outline: none !important;
}
.speed-dial-container {
  // position: absolute;
  // bottom: 16;
  // right: '50%';
  // transform: 'translate(50%, 0)';
  // z-index: -1;
  .MuiSpeedDial-root {
    position: absolute;
    bottom: 21px;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 1000;
  }

  &.show {
    height: calc(100vh - 100px);
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.14);
    // z-index: 1000;

    .MuiSpeedDial-root {
      position: absolute;
      bottom: -50px;
      right: 50%;
      transform: translate(50%, 0);
      z-index: 1000;
    }
  }

  // display: flex;
  // justify-content: center;
  // z-index: 1000;
}
