.fixed-bottom-navigation {
  .MuiPaper-root {
    padding: 1em !important;

    z-index: 1100;
  }
  padding-bottom: 1.5em !important;

  &.dark-mode {
    .MuiPaper-root {
      // background-color: $darker-gray !important;
    }

    .MuiBottomNavigation-root,
    button {
      background-color: $dark-gray;
    }

    button:not(.Mui-selected) {
      background-color: $dark-gray;
      color: $light-gray;
    }

    .MuiFab-circular {
      background-color: $primary-color;
      color: $white !important;
      outline: none;

      &:hover {
        background-color: $primary-color-dark;
      }
    }
  }
}

.MuiBottomNavigation-root {
  padding: 0px !important;
  font-size: 1.2em !important;

  display: grid !important;
  grid-template-columns: 1fr 1fr 0px 1fr 1fr;
  grid-template-rows: 1fr;

  justify-items: center;

  button {
    padding: 0px !important;
    transition: all 0.2s ease-in-out !important;

    &.Mui-selected {
      font-weight: 600 !important;
      color: $primary-color !important;
      svg {
        font-size: 1.5em !important;
      }

      .MuiBottomNavigationAction-label {
        font-size: 0.8rem !important;
      }

      outline: none !important;
    }
  }
}

.MuiFab-circular {
  margin-bottom: 1.5rem !important;

  svg {
    width: 30px !important;
    height: 30px !important;
  }
}

.MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
  transition: all 0.2s ease-in-out !important;
  background-color: $white;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  padding: 1rem !important;
  margin-bottom: 0.8rem !important;

  box-shadow:
    rgba(0, 0, 0, 0.308) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;

  .MuiButtonBase-root {
    // background-color: $primary-color;
    // color: $white;
    // Styles applied via color classes
    display: flex;
  }
}
.MuiSpeedDial-root {
  &.dark-mode {
    .MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
      background-color: $darker-gray;
    }
  }
}

.MuiSpeedDial-root {
  &.dark-mode {
    &.blue {
      .MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
        background-color: $darker-gray-blue;
      }
    }
    &.red {
      .MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
        background-color: $darker-gray-red;
      }
    }
    &.yellow {
      .MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
        background-color: $darker-gray-yellow;
      }
    }
    &.green {
      .MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
        background-color: $darker-gray-green;
      }
    }
    &.orange {
      .MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
        background-color: $darker-gray-orange;
      }
    }
    &.deepPurple {
      .MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
        background-color: $darker-gray-deep-purple;
      }
    }
    &.purple {
      .MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
        background-color: $darker-gray-purple;
      }
    }
    &.pink {
      .MuiSpeedDial-actions:not(.MuiSpeedDial-actionsClosed) {
        background-color: $darker-gray-pink;
      }
    }
  }
}

.MuiSpeedDialAction-fab {
  padding: 1rem !important;
  width: 90px !important;
  height: 70px !important;
  border-radius: 10px !important;
  svg {
    width: 30px !important;
    height: 30px !important;
  }
  // bottom: 2em !important;
  // height: 150px !important;
  // border-radius: 100% !important;
  // background-color: $primary-color !important;
  // color: $white !important;
  // outline: none !important;
}
.speed-dial-container {
  // position: absolute;
  // bottom: 16;
  // right: '50%';
  // transform: 'translate(50%, 0)';
  // z-index: -1;
  .MuiSpeedDial-root {
    position: absolute;
    bottom: 21px;
    right: 50%;
    transform: translate(50%, 0);
    z-index: 1000;
  }

  &.show {
    height: calc(100vh - 100px);
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.14);

    &.dark-mode {
      background-color: rgba(0, 0, 0, 0.639);
    }
    z-index: 1000;

    .MuiSpeedDial-root {
      position: absolute;
      bottom: -50px;
      right: 50%;
      transform: translate(50%, 0);
      z-index: 1000;
    }
  }

  // display: flex;
  // justify-content: center;
  // z-index: 1000;
}

body.dark-mode {
  .MuiButtonBase-root:not(
      .css-1dcy7mk-MuiButtonBase-root-MuiListItemButton-root
    ):not(.color-button) {
    &:hover {
      background-color: lighten($darker-gray, 10%);
    }
  }
}

.navigation.dark-mode,
.MuiBottomNavigation-root.dark-mode {
  background-color: $darker-gray-left-menu !important;
  &.blue {
    background-color: $darker-gray-blue-left-menu !important;
  }
  &.red {
    background-color: $darker-gray-red-left-menu !important;
  }
  &.yellow {
    background-color: $darker-gray-yellow-left-menu !important;
  }
  &.green {
    background-color: $darker-gray-green-left-menu !important;
  }
  &.orange {
    background-color: $darker-gray-orange-left-menu !important;
  }
  &.deepPurple {
    background-color: $darker-gray-deep-purple-left-menu !important;
  }
  &.pink {
    background-color: $darker-gray-pink-left-menu !important;
  }
  &.purple {
    background-color: $darker-gray-purple-left-menu !important;
  }
}

.MuiBottomNavigation-root {
  &.dark-mode {
    background-color: $darker-gray-left-menu !important;
    button {
      background-color: $darker-gray-left-menu !important;
    }

    &.blue {
      background-color: $darker-gray-blue-left-menu !important;
      button {
        background-color: $darker-gray-blue-left-menu !important;
      }
    }
    &.red {
      background-color: $darker-gray-red-left-menu !important;
      button {
        background-color: $darker-gray-red-left-menu !important;
      }
    }
    &.yellow {
      background-color: $darker-gray-yellow-left-menu !important;
      button {
        background-color: $darker-gray-yellow-left-menu !important;
      }
    }
    &.green {
      background-color: $darker-gray-green-left-menu !important;
      button {
        background-color: $darker-gray-green-left-menu !important;
      }
    }
    &.orange {
      background-color: $darker-gray-orange-left-menu !important;
      button {
        background-color: $darker-gray-orange-left-menu !important;
      }
    }
    &.deepPurple {
      background-color: $darker-gray-deep-purple-left-menu !important;
      button {
        background-color: $darker-gray-deep-purple-left-menu !important;
      }
    }
    &.purple {
      background-color: $darker-gray-purple-left-menu !important;
      button {
        background-color: $darker-gray-purple-left-menu !important;
      }
    }
    &.pink {
      background-color: $darker-gray-pink-left-menu !important;
      button {
        background-color: $darker-gray-pink-left-menu !important;
      }
    }
  }
}
