.fixed-bottom-navigation {
  .MuiPaper-root {
    padding: 1em !important;
  }

  &.dark-mode {
    .MuiPaper-root,
    .MuiBottomNavigation-root,
    button {
      background-color: $very-dark-gray;
    }

    button:not(.Mui-selected),
    .MuiPaper-root {
      background-color: $very-dark-gray;
      color: $light-gray;
    }

    .MuiFab-circular {
      background-color: $primary-color !important;
      color: $white !important;
      outline: none;

      &:hover {
        background-color: $primary-color-dark;
      }
    }
  }
}

.MuiBottomNavigation-root {
  padding: 0px !important;
  font-size: 1.2em !important;

  display: grid !important;
  grid-template-columns: 1fr 1fr 20px 1fr 1fr;
  grid-template-rows: 1fr;

  button {
    padding: 0px !important;
    transition: all 0.2s ease-in-out !important;

    &.Mui-selected {
      font-weight: 600 !important;

      svg {
        font-size: 1.5em !important;
      }

      .MuiBottomNavigationAction-label {
        font-size: 0.8rem !important;
      }

      outline: none !important;
    }
  }
}
