.trainer-request-card-content {
  display: grid;
  gap: 1rem;
}

.trainer-request-card {
  display: grid;

  padding: 1rem;
  text-align: start;

  &.dark-mode {
    background-color: $darker-gray;
    color: $white;
  }

  .trainer-request-card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .trainer-request-card-content {
    // display: flex;
  }

  .trainer-request-actions,
  .trainer-request-status {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
