// Swiper default

.swiper {
  width: 100%;
}

.stats-carousel {
  padding-bottom: 25px !important;
  &.vertical {
    padding-bottom: 0px !important;
    height: 360px;
    max-height: 500px; // Prevent it from getting too tall
  }
}

.stats-carousel {
  // height: calc($card-height * 1.32); // Match skeleton height for consistency
  // height: 360px;
  // max-height: 500px; // Prevent it from getting too tall
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-vertical {
  // margin-top: 10px;
  height: fit-content;
}

.swiper-slide {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card.skeleton {
  height: calc($card-height * 1.32) - 22px;

  .goal-container {
    grid-row: 2/-1;
  }
}
