// Swiper default

.swiper {
  width: 100%;
  height: 100%;
}

.stats-carousel {
  display: grid;
  padding-bottom: 25px !important;
  height: fit-content;

  // height: calc($card-height * 1.32);
}

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-slide {
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card.skeleton {
  height: calc($card-height * 1.32) - 22px;

  .goal-container {
    grid-row: 2/-1;
  }
}
