.macros-distribution {
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-rows: auto 1fr;
  // gap: 1.5rem;
  gap: 0rem 1rem;
  // padding: 1rem;
}

.donut {
  .donut-inner {
    .totals {
      .value {
        font-size: 2rem;
        font-weight: 700;
      }

      .label {
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
}

.macros-distribution .totals {
  text-align: center;
  .value {
    font-weight: 700;
    font-size: 1.8rem;
  }

  .label {
    font-size: 1.2rem;
  }
}

.edit-macros-container.distribution {
  display: grid;
  gap: 1.5rem;

  justify-self: center;
  // margin-top: 1em;
  padding: 2rem;
  // width: 300px;

  h5 {
    text-align: center;
  }

  .macro-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .save-cancel-container {
    justify-self: center;
  }
}
