.first-time-edit-goal-container {
  padding-top: 3rem;

  .custom-stepper {
    margin-top: 2.5rem;
  }
}

.edit-goal-container {
  padding: 1rem;
  height: 100%;

  .custom-stepper-stage {
    height: 420px;
  }

  .animation-container {
    justify-self: center;
    // width: 300px;
    // height: 300px;
    max-width: 300px;
  }

  .targets-container {
    // display: grid;
    // grid-auto-flow: column;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    // grid-template-columns: repeat(3, auto);
    // gap: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    margin: 1rem 0;
    // width: 100%;

    .target-button {
      justify-self: center;
      border-radius: 25px;
      font-size: 0.8rem;
      gap: 2px;

      svg {
        font-size: 1.3rem;
      }
    }
  }

  .macros-stage-container {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: 1fr 1fr;
    gap: 2em 1rem;
    margin: 1rem 0;
    // justify-items: center;

    .edit-header-container {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 0.5rem;
      align-items: center;

      .divider {
        grid-column: 1/-1;
      }
    }

    .macros {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    .buttons-container {
      // grid-row: 2/3;
      grid-column: 1/-1;
      display: grid;
      // align-items: center;
      // justify-content: center;
      width: 100%;
      // grid-auto-flow: column;
      // justify-items: start;
      gap: 1rem;
      button {
        width: 50%;
      }
    }
  }

  .edit-header-container {
    display: grid;

    align-items: center;

    gap: 0.5rem;

    .date-picker-container {
      display: grid;
      grid-template-columns: 40px 100px 1fr auto;
      align-items: center;
      justify-content: start;
      // gap: 0.5rem;

      h6:first-of-type {
        // grid-column: 2/3;
      }

      .end-date-label,
      .start-date-label {
        grid-column: 2/3;
        font-size: 1.2rem;
      }
      &.disabled {
        label {
          color: $medium-gray !important;
        }
        &.dark-mode {
          label {
            color: $medium-gray !important;
            opacity: 0.5;
          }
        }
      }

      h6 {
        grid-column: 3/4;
      }

      .custom-button-wrapper {
        grid-column: 4/5;
      }
    }
  }

  .animation-container {
    margin-left: 1.5rem;
    &.date {
      svg {
        width: 300px;
        height: 300px;
      }
      // height: 300px;
    }
  }
}
