.edit-goal-container {
  padding: 1rem;
  height: 100%;

  .custom-stepper-stage {
    height: 360px;
  }

  .animation-container {
    justify-self: center;
    width: 300px;
    height: 300px;
  }
}
