.user-msg {
  position: fixed;
  // top: 170px;
  // top: 7em;
  // right: 0.2em;

  top: 0.5em;
  right: 0.5em;
  left: 0.5em;

  margin: 0 auto;

  //   right: 50em;

  display: flex;
  align-items: center;

  //   padding: 0.2em;
  //   padding-inline-end: 20px;
  // background-color: $very-light-blue;
  //   background-color: white;

  border-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  //   color: $bold-navy;
  font-size: 0.9em;
  min-width: 150px;

  opacity: 0;
  transition: 600ms;
  opacity: 1;
  z-index: 10000;

  translate: 150%; /* start right to the viewport */
  translate: 0 -150%; /* start above the viewport */
  width: calc(100vw - 1em) !important;

  .MuiPaper-root {
    justify-self: center;
    text-align: start;
    align-items: center;
    width: 100vw !important;
    padding: 0 1em !important;
  }
}

.user-msg.visible {
  opacity: 1;
  translate: 0;
}

.user-msg button {
  background-color: $light-gray;
  // padding: 1px 6px;

  border: 0;
  border-radius: 50%;
  //   color: $bold-navy;

  transition: 0.2s ease;

  &:hover {
    background-color: $light-red;
  }
}

.user-msg.success {
  // background-color: $dark-green;
  // border-bottom: 4px solid $success-color;
}
.user-msg.error {
  // border-bottom: 4px solid $light-red;
  // background-color: $medium-red;
}
