
.Toastify__toast-container{
  left: 5px;
  right: 5px;
  .Toastify__toast {
    // margin:1rem;
    width: min(720px, calc(100vw - 2rem));

    text-align: start;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
      &.Toastify__toast--success{
        background-color: $light-gray !important;
        color: $darker-gray !important;
        
        svg{
          fill: $success-color !important;
        }
        
        
      }
      &.Toastify__toast--error{
        background-color: $light-gray !important;
        color: $white !important;

        svg{
          fill: $error-color !important;
        }
      }

      &.dark-mode{
        color: $white !important;

        &.Toastify__toast--success{
          
          svg{
            fill: $success-color-dark-mode !important;
          }
          
          
        }

        &.Toastify__toast--error{
          svg{
            fill: $error-color-dark-mode !important;
          }
        }

        &.primary{
          background-color: $primary-color-light !important;

          &.dark-mode{

          background-color: $darker-gray !important;
          }
        }

        &.blue{
          background-color: $darker-gray-blue !important;
        }
        &.yellow{
          background-color: $darker-gray-yellow !important;
        }
        &.red{
          background-color: $darker-gray-red !important;
        }
        &.orange{
          background-color: $darker-gray-orange !important;
        }
        &.green{
          background-color: $darker-gray-green !important;
        }
        &.deepPurple{
          background-color: $darker-gray-deep-purple !important;
        }
        &.purple{
          background-color: $darker-gray-purple !important;
        }
        &.pink{
          background-color: $darker-gray-pink !important;
        }
        &.dark-mode{
          
          .Toastify__progress-bar--wrp{
            .Toastify__progress-bar--success{
              background-color: $success-color-dark-mode !important;
            }
            .Toastify__progress-bar--error{
              background-color: $error-color-dark-mode !important;
            }
          }
        }
      }
      .Toastify__progress-bar--wrp{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        .Toastify__progress-bar--success{
          background-color: $success-color !important;
        }
        .Toastify__progress-bar--error{
          background-color: $error-color !important;
        }
      }
}
  
}
