.login-sign-up-container {
  div {
    max-height: calc(100vh - 79.32px - 174.59px);
    min-height: fit-content;
    .MuiCard-root {
      margin: 1em 0px 0px 0px;
    }
    .logo-img {
      // width: 150px;
      // height: 100px;
      // object-fit: cover;
      object-fit: contain;
    }
  }
}

.login-sign-up-container.dark-mode {
  p.Mui-error {
    color: $medium-red;
  }
}

.main {
  .login-sign-up-container {
    .MuiPaper-root {
      background-color: $neutral-gray;
      color: $dark-gray;

      a {
        color: $picker-color-blue;
      }

      .MuiInputBase-root,
      .MuiCheckbox-root {
        background-color: $white;
        color: $dark-gray;

        &.Mui-checked {
          color: $white;
        }
      }

      .login-button {
        color: $white !important;
        background: $primary-color !important;
        // background: linear-gradient(
        //   to bottom,
        //   $primary-color,
        //   $primary-color-dark
        // );
      }
    }
  }

  &.dark-mode {
    .login-sign-up-container {
      .MuiPaper-root {
        background-color: $darker-gray;
        color: $white;
      }

      .MuiInputBase-root,
      .MuiCheckbox-root {
        background-color: $very-dark-gray;
        color: $white;

        &.Mui-checked {
          color: $white;
        }
      }
    }
  }
}
