// DateRangeController styles
// Add any specific styles for DateRangeController component here if needed

.date-picker-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 0.5rem;
}
