.dashboard-container {
  display: grid;
  gap: 0.8rem;
  align-items: start;
  grid-template-rows: auto minmax(310px, 1fr) 1fr;

  .dashboard-session-container {
    margin-top: 0.5rem;
    .bold-header {
      text-align: start;
    }
  }
}
