.dashboard-container {
  display: grid;
  gap: 0.5rem;
  align-items: start;
  grid-template-rows: auto minmax(310px, 1fr) 1fr;
  
  
  &.dashboard {

    grid-template-rows: auto auto minmax(310px, 1fr) 1fr;
  }
  .no-session-container {
    margin-top: 0.8rem;
    display: grid;
    gap: 0.5rem;
    .animation-container {
      width: 160px;
      height: 160px;
      justify-self: center;

      &.dashboard {

        min-width: 300px;
        min-height: 300px;
  
        max-width: 500px;
        max-height: 500px;
      }
    }
  }
  .times-container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $neutral-gray;
    padding: 0.5rem;

    &.dark-mode {
      background-color: $dark-gray;

      &.blue {
        background-color: $dark-gray-blue;
      }
      &.yellow {
        background-color: $dark-gray-yellow;
      }
      &.red {
        background-color: $dark-gray-red;
      }
      &.orange {
        background-color: $dark-gray-orange;
      }
      &.green {
        background-color: $dark-gray-green;
      }
      &.deepPurple {
        background-color: $dark-gray-deep-purple;
      }
      &.purple {
        background-color: $dark-gray-purple;
      }
      &.pink {
        background-color: $dark-gray-pink;
      }
    }
  }

  .dashboard-items-container{

    display: grid;
    // max-width: 400px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));

    justify-items: center;
    gap: 1rem;
    .card{
      width: 100%;

      max-width: 500px;


    }

  }
  
  .dashboard-session-container {
    margin-top: 0.5rem;
    .bold-header {
      text-align: start;
    }
  }
}

body.dashboard {
  .card:not(.weight):not(.user-details) {
    min-height: 390px !important;
  }
}