@import 'setup/variables.scss';
@import 'setup/mixins.scss';
// @import "setup/functions.scss";
@import 'setup/typography.scss';

@import 'basics/helpers.scss';
@import 'basics/layout.scss';
@import 'basics/base.scss';
@import 'basics/forms.scss';

// pages
@import 'App.scss';

@import '../../pages/MyTracker/Dashboard/styles/Dashboard.scss';
@import '../../pages/MyTracker/Diary/styles/Diary.scss';
@import '../../pages/MyTracker/Progress/styles/Progress.scss';
@import '../../pages/UserDetails/styles/UserDetails.scss';
@import '../../pages/PwaInstall/styles/PwaInstall.scss';
@import '../../pages/LiftMate/EditWorkout/styles/EditWorkout.scss';

@import '../../components/AppHeader/styles/AppHeader.scss';
@import '../../components/AppFooter/styles/AppFooter.scss';
@import '../../components/TimesContainer/styles/TimesContainer.scss';
@import '../../components/DayController/styles/DayController.scss';
@import '../../components/Prefs/styles/Prefs.scss';
@import '../../components/PrefsButton/styles/PrefsButton.scss';
@import '../../components/ShadowOverlay/styles/ShadowOverlay.scss';
@import '../../components/CaloriesProgress/styles/CaloriesProgress.scss';
@import '../../components/StatsCarousel/styles/StatsCarousel.scss';
@import '../../components/Macros/styles/Macros.scss';
@import '../../components/MacrosDistribution/styles/MacrosDistribution.scss';
@import '../../components/MacrosProgress/styles/MacrosProgress.scss';
@import '../../components/EditIcon/styles/EditIcon.scss';
@import '../../components/SlideDialog/styles/SlideDialog.scss';
@import '../../components/CaloriesProgress/styles/EditComponent.scss';
@import '../../components/MacrosProgress/styles/EditComponent.scss';
@import '../../components/MacrosDistribution/styles/EditComponent.scss';
@import '../../components/CurrMeal/styles/CurrMeal.scss';
@import '../../components/UserMsg/styles/UserMsg.scss';
@import '../../components/ItemSearch/styles/ItemSearch.scss';
@import '../../components/MacrosDonut/styles/MacrosDonut.scss';
@import '../../components/ItemDetails/styles/ItemDetails.scss';
@import '../../components/Pickers/styles/Pickers.scss';
@import '../../components/WorkoutDetails/styles/WorkoutDetails.scss';
@import '../../components/LoggedList/styles/LoggedList.scss';
@import '../../components/LinearMacrosProgress/styles/LinearMacrosProgress.scss';
@import '../../components/GoalBanner/styles/GoalBanner.scss';
@import '../../components/BarcodeScanner/styles/BarcodeScanner.scss';
@import '../../components/EditMeal/styles/EditMeal.scss';
@import '../../components/ScreenLoader/styles/ScreenLoader.scss';
@import '../../components/WeightCard/styles/WeightCard.scss';
@import '../../components/BmrCard/styles/BmrCard.scss';
@import '../../components/EditUser/styles/EditUser.scss';
@import '../../components/LineChart/styles/LineChart.scss';
@import '../../components/LineChart/styles/LineChartControls.scss';
@import '../../components/WeightChart/styles/WeightChart.scss';
@import '../../components/ProfileCard/styles/ProfileCard.scss';
@import '../../components/GoalsCard/styles/GoalsCard.scss';
@import '../../components/EditGoal/styles/EditGoal.scss';
@import '../../components/ColorPicker/styles/ColorPicker.scss';
@import '../../components/WeightChart/styles/WeightChartSettings.scss';
@import '../../components/ClickAnimation/styles/ClickAnimation.scss';
@import '../../components/ExerciseDetails/styles/ExerciseDetails.scss';

@import '../../components/LiftMate/MuscleGroupCard/styles/MuscleGroupCard.scss';
@import '../../pages/LiftMate/EditWorkout/styles/EditWorkout.scss';
@import '../../pages/LiftMate/Workouts/styles/Workouts.scss';
@import '../../pages/LiftMate/Session/styles/Session.scss';

@import '../../CustomMui/SignIn/styles/SignIn.scss';
@import '../../CustomMui/BottomNavigation/styles/FixedBottomNavigation.scss';
@import '../../CustomMui/CustomToggle/styles/CustomToggle.scss';
@import '../../CustomMui/CustomInput/styles/CustomInput.scss';
@import '../../CustomMui/CustomList/styles/CustomList.scss';
@import '../../CustomMui/CustomSelect/styles/CustomSelect.scss';
@import '../../CustomMui/CustomLinearProgress/styles/CustomLinearProgress.scss';
@import '../../CustomMui/CustomAccordion/styles/CustomAccordion.scss';
@import '../../CustomMui/CustomButton/styles/CustomButton.scss';
@import '../../CustomMui/CustomDatePicker/styles/CustomDatePicker.scss';
@import '../../CustomMui/CustomStepper/styles/CustomStepper.scss';
@import '../../CustomMui/CustomAlertDialog/styles/CustomAlertDialog.scss';

@import 'react-circular-progressbar/dist/styles.css';
@import 'rc-slider/assets/index.css';
@import 'react-swipeable-list/dist/styles.css';
