.linear-progress-container {
  display: grid;
  grid-template-columns: 1fr 125px;
  grid-template-rows: auto 1fr;
  gap: 0.3rem 1rem;

  align-items: center;

  padding: 0.5rem 0;

  .header-container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  p {
    text-align: start;
  }

  .MuiLinearProgress-root {
    grid-column: 1 / 2;
  }

  .value-container {
    display: flex;
    align-items: center;
    justify-self: end;
    gap: 0.2rem;
  }
}
