.edit-workout-container {
  height: 100%;

  .edit-workout-stage {
    padding: 1em;
    padding-bottom: 3rem;
    display: grid;

    align-content: start;
    height: 100%;

    &.name-exercises-stage {
      .no-exercises-container {
        justify-self: center;
        display: grid;
        margin-bottom: 1rem;
        .dumbbell {
          width: 100px;
          height: 100px;
          justify-self: center;
        }
      }
    }

    .exercises-stage {
      padding: 1rem;
      .search-exercise-input {
      }
    }

    &.name-stage {
      .divider {
        margin-top: 0.5rem;
      }
      .muscle-filter-input {
        align-self: center;
        .MuiInputBase-root {
          padding: 0rem;
        }
        input {
          padding: 0.6rem 0rem 0.6rem 0.8rem;
        }
      }

      gap: 0rem;
      .selected-muscles-group-container {
        min-height: 48px;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;
        overflow-x: auto;
        // padding-bottom: 1rem;
        .no-muscles-selected {
          font-size: 1.2rem;
          font-weight: 600;
          opacity: 0.7;
          align-self: center;
        }
      }
      .muscle-filter-container {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0.5rem;
      }
      .muscles-group-container {
        padding: 1rem;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        overflow-x: auto;

        .muscle-group-card-container {
        }
      }
    }
  }

  .end-buttons-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .week-number-toggle {
    overflow-x: auto;
    max-width: calc(100vw - 2em);
  }
  .times-per-week-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    // gap: 0.5rem;
  }

  .no-exercises,
  .no-results-container,
  h4 {
    margin-top: 1rem;
  }
  .no-results-container {
    margin-top: 0;
  }
}

.reorder-exercise-list {
  .custom-list-item {
    grid-template-columns: 50px 1fr 50px;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
