.edit-workout-container {
  padding: 1em;
  height: 100%;
  .custom-stepper {
    height: 650px;
  }

  .edit-workout-stage {
    min-height: 300px;
    padding: 1em;
    display: grid;
    gap: 1rem;
    align-content: start;
    height: 100%;

    &.name-stage {
      // TODO: Add styles for name stage
      .muscles-group-container {
        padding: 1rem;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        overflow-x: auto;

        .muscle-group-card-container {
        }
      }
    }

    &.exercises-stage {
      // TODO: Add styles for exercises stage
    }

    &.details-stage {
      // TODO: Add styles for details stage
    }
  }

  &.dark-mode {
    // TODO: Add dark mode styles if needed
  }

  .exercises-lists-container {
    display: grid;
    height: 400px;
    grid-template-rows: 150px auto auto 200px;

    h4 {
      margin: 0.8rem 0;
    }
  }

  .search-exercise-list,
  .selected-exercise-list {
    // max-height: 300px;
    // height: 100%;
    overflow-y: auto;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
