.edit-workout-container {
  .edit-workout-stage {
    padding: 1em;
    padding-bottom: 3rem;
    display: grid;

    overflow-y: auto;
    align-content: start;

    &.name-exercises-stage {
      & > .divider {
        margin-bottom: 0.5rem;
      }
      .exercises-container {
      }
      .exercise-card-container {
        margin: 0.5rem 0;
      }

      .no-exercises-container {
        justify-self: center;
        display: grid;
        margin-bottom: 1rem;
        .dumbbell {
          width: 100px;
          height: 100px;
          justify-self: center;
        }
      }
    }

    .exercises-stage {
      padding: 1rem;
      .search-exercise-input {
      }
    }

    &.name-stage {
      .divider {
        margin-top: 0.5rem;
      }
      .muscle-filter-input {
        align-self: center;
        .MuiInputBase-root {
          padding: 0rem;
        }
        input {
          padding: 0.6rem 0rem 0.6rem 0.8rem;
        }
      }

      gap: 0rem;
      .selected-muscles-group-container {
        min-height: 48px;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;
        overflow-x: auto;
        // padding-bottom: 1rem;
        .no-muscles-selected {
          font-size: 1.2rem;
          font-weight: 600;
          opacity: 0.7;
          align-self: center;
        }
      }
      .muscle-filter-container {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0.5rem;
      }
      .muscles-group-container {
        padding: 1rem;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        overflow-x: auto;

        .muscle-group-card-container {
        }
      }
    }
  }

  .end-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    &.has-exercises {
      position: fixed;
      bottom: 20px;
      left: 0;
      right: 0;
      padding: 1rem;
      margin-top: 1rem;
      background: $white;
      border-top: 1px solid $light-gray;
      z-index: 1000;
      box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

      &.dark-mode {
        background: $dark-gray;
        border-top: 1px solid $white;
        border-color: $dark-mode-border;

        &.blue {
          background: $dark-gray-blue;
          border-color: $dark-mode-border;
        }
        &.red {
          background: $dark-gray-red;
          border-color: $dark-mode-border;
        }
        &.yellow {
          background: $dark-gray-yellow;
          border-color: $dark-mode-border;
        }
        &.green {
          background: $dark-gray-green;
          border-color: $dark-mode-border;
        }
        &.deepPurple {
          background: $dark-gray-deep-purple;
          border-color: $dark-mode-border;
        }
        &.purple {
          background: $dark-gray-purple;
          border-color: $dark-mode-border;
        }
        &.pink {
          background: $dark-gray-pink;
          border-color: $dark-mode-border;
        }
      }
    }
  }

  .week-number-toggle {
    overflow-x: scroll;
    max-width: calc(100vw - 2em);
    margin-bottom: 1rem;
  }
  .times-per-week-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    // gap: 0.5rem;
  }

  .no-exercises,
  .no-results-container,
  h4 {
    margin-top: 1rem;
  }
  .no-results-container {
    margin-top: 0;
  }
}

.reorder-exercise-list {
  .custom-list-item {
    grid-template-columns: 50px 1fr 50px;

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
