.edit-workout-container {
  padding: 1em;
  height: 100%;
  .custom-stepper {
    height: 600px;
  }

  .edit-workout-stage {
    min-height: 200px;
    padding: 1em;
    padding-bottom: 3rem;
    display: grid;
    gap: 1rem;
    align-content: start;
    height: 100%;

    &.name-stage {
      // TODO: Add styles for name stage

      gap: 0.2rem;
      .selected-muscles-group-container {
        min-height: 48px;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;
        overflow-x: auto;
        // padding-bottom: 1rem;
        .no-muscles-selected {
          font-size: 1.2rem;
          font-weight: 600;
          opacity: 0.7;
          align-self: center;
        }
      }
      .muscle-filter-container {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0.5rem;
      }
      .muscles-group-container {
        padding: 1rem;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        overflow-x: auto;

        .muscle-group-card-container {
        }
      }
    }

    &.exercises-stage {
      .search-exercise-list,
      .selected-exercise-list {
        // max-height: 250px;
        // height: 100%;
        overflow-y: auto;

        .custom-list-item {
          display: grid;
          grid-template-columns: 50px 1fr auto;
          gap: 1rem;
        }

        .MuiListItemText-primary {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .selected-exercise-list {
        max-height: 250px;
      }
    }

    &.details-stage {
      height: 250px;
      height: 350px;
      overflow-y: auto;

      .exercise-details-edit-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 0.5rem 0rem;

        .header-container {
          grid-column: 1/-1;
          // display: flex;
          display: grid;
          grid-template-columns: auto 1fr auto;

          // justify-content: space-between;
          align-items: center;
          gap: 0.5rem;

          h4 {
            grid-column: 2/3;
            grid-row: 1/2;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            justify-self: start;
          }
          .custom-toggle {
            grid-column: 3/4;
            grid-row: 1/2;
            justify-self: end;
          }
        }

        .divider,
        .MuiTextField-root,
        h4 {
          margin: 0;
          grid-column: 1/-1;
        }
      }
    }
  }

  &.dark-mode {
    // TODO: Add dark mode styles if needed
  }

  .exercises-lists-container {
    display: grid;
    height: 400px;
    height: 350px;

    // grid-template-rows: 150px auto;
  }

  .week-number-toggle {
    overflow-x: auto;
    max-width: calc(100vw - 2em);
  }

  .no-exercises,
  .no-results-container,
  h4 {
    margin-top: 1rem;
  }
  .no-results-container {
    margin-top: 0;
  }
}
