.exercise-search-container {
  width: 100%;

  .custom-input {
    // background-color: red;
    position: sticky;
    top: 0;
    left: 1rem;
    right: 1rem;
    // width: calc(100% - 2rem);
    z-index: 10;
    background-color: $white;
    &.dark-mode {
      background-color: $darker-gray;
    }
  }

  .exercise-list {
    position: relative;
    // top: calc(56px);
    // max-height: 250px;
    // height: 100%;
    overflow-y: auto;

    .custom-list-item {
      display: grid;
      grid-template-columns: 50px 1fr auto;
      gap: 1rem;
    }

    .MuiListItemText-primary {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .selected-exercise-list {
    max-height: 250px;
  }
}
