.exercise-search-container {
  width: 100%;
  position: relative;

  .exercise-list {
    position: relative;
    // top: calc(56px);
    // max-height: 250px;
    // height: 100%;
    overflow-y: auto;

    .MuiListItemText-primary,
    .MuiListItemText-secondary {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .exercise-item {
      display: grid;
      grid-template-columns: 50px 1fr auto;
      gap: 1rem;


         .exercise-image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
      &.dashboard{

        span{
          font-size: 1rem;
        }
        grid-template-columns: 80px 1fr auto;
        .exercise-image {
          width: 80px;
          height: 80px;

        }
      }
      &:has(.added) {
        border-left: 2px solid $primary-color;

        &.blue {
          border-left: 2px solid $picker-color-blue;
        }
        &.red {
          border-left: 2px solid $picker-color-red;
        }
        &.yellow {
          border-left: 2px solid $picker-color-yellow;
        }
        &.green {
          border-left: 2px solid $picker-color-green;
        }
        &.orange {
          border-left: 2px solid $picker-color-orange;
        }
        &.deepPurple {
          border-left: 2px solid $picker-color-deep-purple;
        }
        &.purple {
          border-left: 2px solid $picker-color-purple;
        }
        &.pink {
          border-left: 2px solid $picker-color-pink;
        }
      }
    }

 
  }

  .selected-exercise-list {
    max-height: 250px;
  }
}
