.health-stats-container {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 1rem;
  align-items: center;

  .steps-banner-title {
    margin: 0;
  }

  .goal-banner {
    width: 100%;
    // max-width: 140px;

    .after-value {
      margin-inline-start: 0.6rem;
    }
  }
}
