.change-exercise-container {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  .filters-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .divider {
    // margin-bottom: 1rem;
  }
}
