.screen-loader {
  padding: 1rem;
  height: calc(100vh - 1.5rem);
  position: relative;
  display: grid;
  justify-items: center !important;
  align-items: center;

  text-align: center;

  .loader-container {
    display: grid;
    justify-items: center !important;
    align-items: center;
    text-align: center !important;
    .dots-container {
      justify-self: center !important;
      width: 150px;
      display: grid;
      justify-items: start;
    }
  }

  .MuiLinearProgress-root {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
