.slide-dialog-content {
  .menus-list-container {
    padding: 1rem;
  }
}
.menus-list-container {
  display: grid;
  gap: 1rem;

  .menus-list {
    display: grid;
    gap: 1rem;
  }

  .menus-list-empty {
    text-align: center;
    padding: 2rem;
    opacity: 0.7;
  }
}
