.edit-user-container {
  padding: 1rem;

  &.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;

    .buttons-container {
      align-self: end;
    }
  }

  input,
  .MuiSelect-select {
    font-size: 1.2rem !important;
  }

  .form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }

  .avatar-field {
    display: grid;

    // grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: center;
    // justify-content: space-between;
    gap: 0.8rem;

    margin-bottom: 0.8rem;

    .image-preview {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      overflow: hidden;
      background: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .placeholder {
        font-size: 0.8rem;
        color: #666;
      }
    }

    .upload-button {
      display: inline-flex;
      align-items: center;
      gap: 8px;
      padding: 0.4rem 0.8rem;
      background: #e0e0e0;
      border-radius: 8px;
      cursor: pointer;

      &.dark-mode {
        background: $very-dark-gray;
      }

      input[type='file'] {
        display: none;
      }
    }
  }

  .date-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    p {
      font-size: 1.2rem;
    }
  }

  .MuiFormControl-root {
    margin: 0.5rem 0;
  }

  .buttons-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }

  .save-button-container {
    width: 100%;
    display: grid;
    // justify-items: end;
    margin-top: 1rem;
  }
}
