.diary {
  .header:first-child {
    // padding: 1rem 0;
    // display: flex;

    // justify-content: space-between;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: end;
    gap: 1rem;

    .time-controls-container {
      display: grid;
      grid-template-columns: 40px 1fr 40px;
      align-items: center;

      .times-container {
        grid-column: 2/3;
      }
    }

    .circular-progress {
      width: 100px;
      height: 100px;
    }
  }

  .macros-accordion-container {
    margin-bottom: 1rem;
  }

  .meals-container {
    display: grid;
    gap: 1rem;
    .diary-meal-container {
      display: grid;

      background-color: $white;
      padding: 1rem;
      border-radius: 3px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

      &.dark-mode {
        background-color: $darker-gray;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }

      .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // gap: 16px;
        text-align: start;
        align-items: center;

        .period {
          text-align: end;
        }
      }

      .meal-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .total-calories {
          // font-weight: 600;
        }
      }
    }
  }
}
.time-controls-container.today {
  font-weight: 600;
  border-bottom: 2px solid transparent;

  &.primary {
    border-bottom: 2px solid $primary-color;
  }
  &.blue {
    color: $picker-color-blue;
  }
  &.red {
    color: $picker-color-red;
  }
  &.green {
    color: $picker-color-green;
  }
  &.orange {
    color: $picker-color-orange;
  }
  &.deepPurple {
    color: $picker-color-deep-purple;
  }
  &.purple {
    color: $picker-color-purple;
  }
  &.pink {
    color: $picker-color-pink;
  }
}
