.diary {
  .header:first-child {
    // padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .circular-progress {
      width: 100px;
      height: 100px;
    }
  }

  .meals-container {
    display: grid;
    gap: 1rem;
    .diary-meal-container {
      display: grid;

      background-color: $white;
      padding: 1rem;
      border-radius: 3px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

      &.dark-mode {
        background-color: $darker-gray;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }

      .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // gap: 16px;
        text-align: start;
        align-items: center;

        .period {
          text-align: end;
        }
      }
    }
  }
}
