.my-trainees-container {
  display: grid;
  gap: 1rem;

  .trainees-list {
    max-height: 300px;
    overflow-y: auto;

    .custom-list-item {
      grid-template-columns: 50px 1fr auto;
      gap: 1rem;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
