.MuiToggleButtonGroup-root {
  .MuiToggleButtonGroup-grouped.Mui-selected {
    color: $primary-color !important;
    // background-color: $primary-color !important;
  }
  &.dark-mode {
    .MuiToggleButtonGroup-grouped.Mui-selected {
      background-color: $dark-gray !important;
    }

    &.blue {
      .MuiToggleButtonGroup-grouped.Mui-selected {
        background-color: $dark-gray-blue !important;
      }
    }
    &.red {
      .MuiToggleButtonGroup-grouped.Mui-selected {
        background-color: $dark-gray-red !important;
      }
    }
    &.yellow {
      .MuiToggleButtonGroup-grouped.Mui-selected {
        background-color: $dark-gray-yellow !important;
      }
    }
    &.green {
      .MuiToggleButtonGroup-grouped.Mui-selected {
        background-color: $dark-gray-green !important;
      }
    }
    &.deepPurple {
      .MuiToggleButtonGroup-grouped.Mui-selected {
        background-color: $dark-gray-deep-purple !important;
      }
    }
    &.purple {
      .MuiToggleButtonGroup-grouped.Mui-selected {
        background-color: $dark-gray-purple !important;
      }
    }
    &.pink {
      .MuiToggleButtonGroup-grouped.Mui-selected {
        background-color: $dark-gray-pink !important;
      }
    }
    &.orange {
      .MuiToggleButtonGroup-grouped.Mui-selected {
        background-color: $dark-gray-orange !important;
      }
    }
  }
}

.custom-toggle {
  max-width: 100%;
  overflow-x: auto;

  &:has(.toggle-badge) {
    padding: 0.8rem;
    padding-right: 0;
    padding-bottom: 0;
  }

  .toggle-badge {
    top: 0.5rem;
    left: 0.5rem;
    position: absolute;
    z-index: 5;
    color: $white;
    span {
      padding: 0;
      border-radius: 50%;
      height: 1.2rem;
      width: 1.2rem;
      svg {
        padding: 2px;
      }
    }
  }

  &.dark-mode {
    button:not(.Mui-selected) {
      border: 1px solid $dark-mode-border;
    }
  }

  .MuiToggleButtonGroup-groupedHorizontal {
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  &.primary {
    .MuiToggleButtonGroup-grouped.Mui-selected {
      color: $primary-color !important;
    }
  }

  &.blue {
    .MuiToggleButtonGroup-grouped.Mui-selected {
      color: $picker-color-blue !important;
    }
  }

  &.red {
    .MuiToggleButtonGroup-grouped.Mui-selected {
      color: $picker-color-red !important;
    }
  }

  &.yellow {
    .MuiToggleButtonGroup-grouped.Mui-selected {
      color: $picker-color-yellow !important;
    }
  }

  &.green {
    .MuiToggleButtonGroup-grouped.Mui-selected {
      color: $picker-color-green !important;
    }
  }

  &.orange {
    .MuiToggleButtonGroup-grouped.Mui-selected {
      color: $picker-color-orange !important;
    }
  }

  &.deepPurple {
    .MuiToggleButtonGroup-grouped.Mui-selected {
      color: $picker-color-deep-purple !important;
    }
  }

  &.purple {
    .MuiToggleButtonGroup-grouped.Mui-selected {
      color: $picker-color-purple !important;
    }
  }

  &.pink {
    .MuiToggleButtonGroup-grouped.Mui-selected {
      color: $picker-color-pink !important;
    }
  }
}
