.exercise-editor-container {
  display: grid;
  gap: 1rem;
  .set-editor-container {
    display: grid;
    grid-auto-flow: column;
  }

  .controls-container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }
}
