.exercise-editor-container {
  display: grid;
  // gap: 1rem;

  max-height: 1500px;
  overflow: hidden !important;
  transition: max-height 0.3s ease-in-out;

  &.closed {
    max-height: 0;
  }
  .dashboard-exercise-editor-container-headers {
    display: grid;
    grid-template-columns: auto auto auto auto;
    h6:first-child {
      margin-inline-start: 20px;
    }
    h6:not(:first-child) {
      margin-inline-end: 125px;
    }
  }

  .set-container {
    position: relative;
    width: 100%;

    @media (max-width: 700px) {
      width: calc(100vw - 3rem);
    }

    @media (min-width: 700px) {
      width: calc(100vw - 5rem - 500px);
      padding-inline: 1rem;
    }
    @media (max-width: 1050px) {
      &.dashboard {
        width: calc(100vw - $left-menu-width - 3rem);
        padding-inline: 1rem;
      }
    }
    .set-editor-container {
      width: 100%;
      padding-right: 2rem !important;

      display: grid;
      grid-template-columns: 23px 1fr 1fr 1fr;
      padding: 1.5rem 0 0 0;
      @media (min-width: 600px) {
        grid-template-columns: auto 1fr 1fr 1fr;
        padding: 2rem 0 0 0;
        justify-items: start;
        &.dashboard {
          grid-template-columns: auto auto auto auto auto;
        }
      }
      justify-items: center;

      .badges-container {
        display: grid;
        input {
          padding: 0 !important;
        }
        .MuiCheckbox-root {
          height: 49px;
          width: 49px;
        }
      }
      .finished,
      .not-finished {
        border-radius: 50%;
        color: $white !important;
      }
      .not-finished {
        background-color: $error-color;
      }
      .finished {
        background-color: $success-color;
      }
      .MuiBadge-root {
        display: block;
        align-self: center;
        &.float {
          top: 1rem;
          left: 0.75rem;
          &.dashboard {
            margin-top: 0.5rem;
            left: 1.75rem;
          }
          position: absolute;
          @media (min-width: 800px) {
            span {
              font-size: 1.2rem;
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
            }
          }
        }

        &.success {
          span {
            background-color: $success-color !important;
          }
        }

        &.error {
          span {
            background-color: $error-color !important;
          }
        }
        span {
          font-weight: 700;
          font-size: 1.1rem;
          left: -20px;

          padding: 0px;
          color: $white !important;
        }
      }
      &.with-previous-set {
        padding: 2rem 0 0 0;

        .reps-container,
        .weight-container,
        .rpe-rir-container {
          display: grid;
          gap: 0.3rem;

          .previous-set-actual-label {
            min-height: 22px;
          }
          span {
            // margin-top: 0.3rem;
          }

          .divider {
            // margin: 0.3rem 0 1rem 0;
          }
        }

        .delete-set-button {
          align-self: end;
        }
        .badges-container {
          align-self: start;
          margin-top: 1.2rem;
          margin-inline-start: 3px;
        }

        .MuiBadge-root.float {
          // top: 0.6rem;
          top: 10px;
        }
      }

      .previous-set-label {
        font-weight: 700;
        font-size: 1.1rem;

        padding: 0px;
        position: absolute;
        top: 0;
        inset-inline-start: 30px;
        &.dashboard {
          top: 5px;
          inset-inline-start: 65px;
        }
      }

      .MuiFormLabel-root {
        font-weight: 700;
        // font-size: 1.1rem;
      }

      .MuiFormControl-root {
        margin: 0.5rem 0.2rem 0 0;

        .MuiSelect-select {
          font-weight: 700;
          // padding: 0.2rem;
        }
      }

      .remove-container {
        align-self: center;
      }
    }

    .divider {
      margin: 0.5rem 0;
    }
  }

  .controls-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: center;
  }
}
