.exercise-editor-container {
  display: grid;
  // gap: 1rem;

  .set-container {
    position: relative;
    width: 100%;
    .set-editor-container {
      width: 100%;

      display: grid;
      grid-template-columns: 20px 1fr 1fr 1fr;
      // grid-auto-flow: column;

      // align-items: center;
      // justify-items: start;
      justify-items: center;

      padding: 1.5rem 0 0 0;

      .badges-container {
        display: grid;
      }

      .MuiBadge-root {
        display: block;
        align-self: center;
        &.float {
          top: 1rem;
          left: 0.75rem;
          position: absolute;
        }

        &.success {
          span {
            background-color: $success-color !important;
          }
        }

        &.error {
          span {
            background-color: $error-color !important;
          }
        }
        span {
          font-weight: 700;
          font-size: 1.1rem;
          left: -20px;

          padding: 0px;
          color: $white !important;
        }
      }

      .MuiFormLabel-root {
        font-weight: 700;
        // font-size: 1.1rem;
      }

      .MuiFormControl-root {
        margin: 0.5rem 0.2rem 0 0;

        .MuiSelect-select {
          font-weight: 700;
          // padding: 0.2rem;
        }
      }

      .remove-container {
        align-self: center;
      }
    }

    .divider {
      margin: 0.5rem 0;
    }
  }

  .controls-container {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    align-items: center;
  }
}
