.menu-card-container {
  display: grid;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  // cursor: pointer;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  }

  &.selected {
    border-inline-start: 3px solid $primary-color;
    padding-inline-start: calc(1rem + 3px);
    &.blue {
      border-inline-start: 3px solid $picker-color-blue;
      padding-inline-start: 3px;
    }
    &.red {
      border-inline-start: 3px solid $picker-color-red;
      padding-inline-start: 3px;
    }
    &.yellow {
      border-inline-start: 3px solid $picker-color-yellow;
      padding-inline-start: 3px;
    }
    &.green {
      border-inline-start: 3px solid $picker-color-green;
      padding-inline-start: 3px;
    }
    &.orange {
      border-inline-start: 3px solid $picker-color-orange;
      padding-inline-start: 3px;
    }
    &.deepPurple {
      border-inline-start: 3px solid $picker-color-deep-purple;
      padding-inline-start: 3px;
    }
    &.purple {
      border-inline-start: 3px solid $picker-color-purple;
      padding-inline-start: 3px;
    }
    &.pink {
      border-inline-start: 3px solid $picker-color-pink;
      padding-inline-start: 3px;
    }
  }

  &.dark-mode {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    color: $white;
  }

  .menu-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-card-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .menu-card-icon {
      opacity: 0.7;
    }
  }

  .menu-card-stats {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }
}

.delete-menu-dialog {
  .save-cancel-container {
    margin-top: 1rem;

    .delete-account-button {
      background-color: $primary-color-dark !important;
      &.blue {
        background-color: $primary-color-dark !important;
      }
      &.yellow {
        background-color: $primary-color-dark !important;
      }
      &.red {
        background-color: $primary-color-dark !important;
      }
      &.orange {
        background-color: $primary-color-dark !important;
      }
      &.green {
        background-color: $primary-color-dark !important;
      }
      &.deepPurple {
        background-color: $primary-color-dark !important;
      }
      &.purple {
        background-color: $primary-color-dark !important;
      }
      &.pink {
        background-color: $primary-color-dark !important;
      }
    }
    .save-button {
      background-color: $error-color !important;
    }
  }
}
